<section id="happy-clients">
    <div class="happy-clients-block container">
        <header>
            <h3>Happy cLients</h3>
        </header>
        <div class="items">
            <!-- 1 -->
            <div class="item col-sm-12 col-md-6 col-xl-6">
                <div class="img">
                    <img src="img/testimonials/face.fw.png" alt="face">
                </div>
                <div class="description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.
                            a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    <div class="name">
                        <span>Client Name</span>
                        <span>Designation</span>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="item col-sm-12 col-md-6 col-xl-6">
                <div class="img">
                    <img src="img/testimonials/face.fw.png" alt="face">
                </div>
                <div class="description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.
                            a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    <div class="name">
                        <span>Client Name</span>
                        <span>Designation</span>
                    </div>
                </div>
            </div>
            <!-- 3 -->
            <div class="item col-sm-12 col-md-6 col-xl-6">
                <div class="img">
                    <img src="img/testimonials/face.fw.png" alt="face">
                </div>
                <div class="description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.
                            a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    <div class="name">
                        <span>Client Name</span>
                        <span>Designation</span>
                    </div>
                </div>
            </div>
            <!-- 4 -->
            <div class="item col-sm-12 col-md-6 col-xl-6">
                <div class="img">
                    <img src="img/testimonials/face.fw.png" alt="face">
                </div>
                <div class="description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.
                            a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    <div class="name">
                        <span>Client Name</span>
                        <span>Designation</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators col-sm-12 col-md-8 col-xl-3">
        <div data-target="#myCarousel" data-slide-to="0" class="active idicator"></div>
        <div data-target="#myCarousel" data-slide-to="1" class="idicator"></div>
        <div data-target="#myCarousel" data-slide-to="2" class="idicator"></div>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
        
        <div class="carousel-caption">
            <div class="comment">
                <p>Lorem Ipsum is simply dummy text of the printing <br>
                and typesetting industry. Lorem Ipsum has been the <br> industry's standard dummy text ever since the 1500s,
                <br> when an unknown printer took a galley .             
                </p>
                <h5>Dr.Jonathan Peeter</h5>
                <span>Designation</span>
            </div>
        </div>
        </div>
        <div class="carousel-item">     
            <div class="carousel-caption">
                <div class="comment">
                    <p>Lorem Ipsum is simply dummy text of the printing <br>
                    and typesetting industry. Lorem Ipsum has been the <br> industry's standard dummy text ever since the 1500s,
                    <br> when an unknown printer took a galley .             
                    </p>
                    <h5>Dr.Jonathan Peeter</h5>
                    <span>Designation</span>
                </div>
            </div>
        </div>
        <div class="carousel-item">    
            <div class="carousel-caption">
                <div class="comment">
                    <p>Lorem Ipsum is simply dummy text of the printing <br>
                    and typesetting industry. Lorem Ipsum has been the <br> industry's standard dummy text ever since the 1500s,
                    <br> when an unknown printer took a galley .             
                    </p>
                    <h5>Dr.Jonathan Peeter</h5>
                    <span>Designation</span>
                </div>
            </div>
        </div>
    </div>
</div>