body {
    margin: 0 auto;
    background-image: url(../images/background.png);
    color: white;
}
.template {
    width: 1170px;
    margin: 0 auto;  
}
.header {
    display: flex;
    flex-direction: column;
}
    .header span {
        font-size: 50px;
        margin: 5px;
    }
    .header-block {
        display: flex;
        justify-content: space-between;
    }
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h2 {
    margin: 5px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;

}
.nav-bar a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 5px;

}
.nav-bar a:hover {
    color: #9E9D9D;
}
.menu a {
    text-align: left;
    text-decoration: none;
    color: white;
}
    .menu a:visited {
        color: white;
    }
    .menu a:active {
        color: white;
    }
    .menu a:hover {
        color: #9E9D9D;
    }
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    float: left;
    margin: 5px;
}
.main-block {
    display: flex;
}
.menu {
    display: flex;
    width: 270px;
}
    .menu li {
        width: 190px;
    }
.content-item h2:hover {
    color: #9E9D9D;
}
.content-item h2 {
    margin: 25px 5px;
}
.content-item p {
    text-align: justify;
    margin: 5px;
}
.footer-block {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
