body {
    background-color: #E6E6E6;
}
h1 {

    margin: 0 auto;
    text-align: center;
    font-size: 48px;
}
.git-url {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
}
.git-url a {
    text-decoration: none;
}
    .git-url a:visited {
        color: #311313;
    }
    .git-url a:active {
        color: #311313;
    }
    .git-url a:hover {
        color: #860000;
    }
/* Main content */
.main-content {

    width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
    .main-content a {
        text-decoration: none;
    }
        .main-content a:visited {
            color: #311313;
        }
        .main-content a:active {
            color: #311313;
        }
        .main-content a:hover {
            color: #860000;
        }
    .main-content ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-align: center;
        font-size: 36px;
    }

@media screen and (max-width:850px) {
    h1 {
        font-size: 48px;
    }
    .main-content ul {
        font-size: 40px;
    }
}