/*SINGLE BLOG*/
/* line 2, ../../sass/blog-single/body-blog.scss */
#body-blog {
  padding-top: 50px;
  /*categories*/
}
/* line 7, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article img {
  padding: 0;
}
/* line 10, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .text {
  color: #3B4953;
}
/* line 12, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .text h2 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: left;
}
/* line 19, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
/* line 26, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .quote {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 30, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .quote svg {
  margin: 0 10px 0 25px;
}
/* line 33, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .quote .quote-mesage {
  color: #C59C6D;
}
/* line 35, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .quote .quote-mesage p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.5;
}
/* line 43, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .quote .quote-mesage span {
  font-size: 14px;
  font-style: italic;
}
/* line 50, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .footer {
  display: flex;
  flex-direction: column;
}
/* line 53, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .footer .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
}
/* line 59, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .footer .tags ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}
/* line 63, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .footer .tags ul a {
  color: #01B9AB;
  font-size: 12px;
  margin: 0 5px 0 5px;
}
/* line 71, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .footer .social {
  display: flex;
  flex-direction: row;
}
/* line 74, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .footer .social .item {
  margin: 25px 5px 25px 0;
}
/* line 79, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .footer .related-posts {
  display: flex;
  flex-direction: column;
}
/* line 82, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .footer .related-posts span {
  font-size: 18px;
  color: #3B4953;
  font-weight: 900;
}
/* line 87, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .footer .related-posts .items {
  display: flex;
  flex-direction: row;
}
/* line 91, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .footer .related-posts .items .item span {
  font-size: 12px;
  color: #3B4953;
}
/* line 96, ../../sass/blog-single/body-blog.scss */
#body-blog .blog-body article .footer .related-posts .items .item p {
  font-size: 12px;
  color: #01B9AB;
}
/* line 112, ../../sass/blog-single/body-blog.scss */
#body-blog .item span {
  font-size: 18px;
  color: #3B4953;
  font-weight: 900;
}
/* line 120, ../../sass/blog-single/body-blog.scss */
#body-blog .categories a {
  font-size: 12px;
  color: #01B9AB;
}
/* line 124, ../../sass/blog-single/body-blog.scss */
#body-blog .categories ul {
  margin-top: 50px;
}
/* line 126, ../../sass/blog-single/body-blog.scss */
#body-blog .categories ul li {
  display: flex;
  align-items: center;
}
/* line 133, ../../sass/blog-single/body-blog.scss */
#body-blog .comments {
  font-size: 12px;
}
/* line 135, ../../sass/blog-single/body-blog.scss */
#body-blog .comments ul {
  margin-top: 50px;
}
/* line 138, ../../sass/blog-single/body-blog.scss */
#body-blog .comments ul li span {
  font-size: 12px;
  font-weight: 400;
  color: #3B4953;
  display: flex;
  align-items: center;
}
/* line 146, ../../sass/blog-single/body-blog.scss */
#body-blog .comments ul li p {
  color: #01B9AB;
}
/* line 154, ../../sass/blog-single/body-blog.scss */
#body-blog .tags .tags-cloud {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/* line 159, ../../sass/blog-single/body-blog.scss */
#body-blog .tags .tags-cloud span {
  border: 1px solid #EDEDED;
  padding: 5px;
  margin: 5px;
}
/* line 163, ../../sass/blog-single/body-blog.scss */
#body-blog .tags .tags-cloud span a {
  font-size: 12px;
  color: #01B9AB;
  font-weight: 400;
  line-height: 3;
  text-align: center;
  text-decoration: none;
}
/* line 173, ../../sass/blog-single/body-blog.scss */
#body-blog .tags .tags-cloud span:hover {
  background-color: #01B9AB;
}
/* line 175, ../../sass/blog-single/body-blog.scss */
#body-blog .tags .tags-cloud span:hover a {
  color: white;
}
