/* line 1, ../../sass/blog-single/comments.scss */
#comments {
  background-color: #EBF0F3;
}
/* line 4, ../../sass/blog-single/comments.scss */
#comments .form .inputs {
  display: flex;
  flex-direction: row;
}
/* line 7, ../../sass/blog-single/comments.scss */
#comments .form .inputs .input {
  display: flex;
  flex-direction: column;
}
/* line 10, ../../sass/blog-single/comments.scss */
#comments .form .inputs .input input {
  border: none;
}
/* line 19, ../../sass/blog-single/comments.scss */
#comments .form .textarea textarea {
  border: none;
}
/* line 23, ../../sass/blog-single/comments.scss */
#comments .form .submit-btn {
  float: right;
  width: 135px;
  height: 40px;
  text-align: center;
  border: 3px solid #01b9ab;
  background-color: white;
  font-size: 12px;
  font-weight: 900;
  color: #01b9ab;
  text-transform: uppercase;
}
/* line 36, ../../sass/blog-single/comments.scss */
#comments .form .submit-btn:hover {
  background-color: #ffad00;
  border: 2px solid #01b9ab;
}
