/*FOOTER*/
#footer-nav {
    background-color: #D75D0D;
    color: white;
    font-size: 18px;
}
.column {
    text-align: center;
    margin: 60px 0 60px 0;
    ul li {
        margin: 10px;
    }
}
#footer-span {
    margin: 0 auto;
    align-self: center;
}
@media screen and (max-width:1170px) {
    ul li {
        font-size: 30px;
    }   
}