/*WELCOME*/
#welcome {
    width: 100vw;
    background: url(../img/welcome/main-bg.fw.png) no-repeat;
    background-size: cover; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .welcome-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
            span {
                font-size: 30px;
                font-weight: bold;
            }
        }
        button {
            width: 210px;
            height: 55px;
            background-color: white;
            border-radius: 25px;
            border: none;
            color: #612315;
            font-size: 18px;
            margin-bottom: 130px;
        }
    }
}
@media screen and (max-width:1170px) {
    #welcome {
        height: auto;
        width: auto;
        img {
            width: 80vw;
        }
        h3 {
            font-size: 40px;
        }
        p {
            font-size: 30px;
        }
    }
}
@media screen and (max-width:360px) { 
        #welcome, #content, #footer-nav, #our-news, #newsletter {
            width: 500px;
            margin: 0 auto;
        }  
    }