/* header */
$size: calc(100vh - 80px); 
header {
    width: 100vw;
    height: 100vh;
    background: url(../img/header/header-bg.fw.png) no-repeat;
    background-size: cover; 
    color: white;
}
header .header-block {
    margin: 0 auto;
    width: 940px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-block-nav {
    display: flex;
    flex-direction: row;
}
.header-block-logo {
    height: 50px;
    width: 127px;
    background: url(../img/logo.fw.png) no-repeat;
}
.nav-item {
    margin-left: 10px;
    font-weight: 600;
    a {
        font-size: 13px;
        color: white;
        text-decoration: none;
    }
    a:visited {
        color: white;
    }
    a:hover,:active {
        color: #00DFCF;
    }
}
.header-block-content {
    width: 780px;
    height: calc(100vh - 80px);

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    h1 {
        font-size: 32px;
        font-weight: 900;
    }
    p {
        line-height: 1.7;
    }
    button {
        margin-top: 45px;
    }

    .slider-decor {
        display: flex;
        flex-direction: row;
        height: calc(30vh - 80px);
        .slider-block {
            height: 10px;
            width: 55px;
            background: url(../img/header/slider-bg.fw.png) no-repeat;
            align-self: flex-end;
        }
    }
}
