@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body h1,h2,h3,h4,h5,h6 {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
}
body p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

section .content-block {
    width: 940px;
    margin: 0 auto;
}
button {
    height: 40px;
    width: 120px;
    background-color: #00DFCF;
    border-radius: 5px 5px 5px 5px;
    border: none;
}