/* FOOTER */
/* line 4, ../../sass/section/footer.scss */
#footer footer .footer-block {
  display: flex;
  flex-wrap: wrap;
}
/* line 7, ../../sass/section/footer.scss */
#footer footer .footer-block div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 13, ../../sass/section/footer.scss */
#footer footer .copyright {
  display: flex;
  align-items: center;
}
/* line 17, ../../sass/section/footer.scss */
#footer footer .copyright div p {
  text-align: center;
}
