/* HEAD */
/* line 4, ../../sass/section/head.scss */
#head header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 9, ../../sass/section/head.scss */
#head header .logo {
  color: #C5C9CB;
  font-weight: 600;
}
/* line 13, ../../sass/section/head.scss */
#head header .nav {
  display: flex;
  flex-wrap: wrap;
}
/* line 16, ../../sass/section/head.scss */
#head header .nav .item {
  margin: 5px;
}
/* line 18, ../../sass/section/head.scss */
#head header .nav .item a {
  color: #C5C9CB;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 24, ../../sass/section/head.scss */
#head header .nav .item a:hover {
  color: white;
}
/* line 29, ../../sass/section/head.scss */
#head header .fixed-header {
  position: fixed;
  left: 0;
  right: 0;
}
/* line 35, ../../sass/section/head.scss */
#head .hr hr {
  padding: 0;
  margin: 0;
}

/* mobile nav with js*/
/* line 42, ../../sass/section/head.scss */
#mNav {
  display: none;
}

/* line 45, ../../sass/section/head.scss */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

/* line 57, ../../sass/section/head.scss */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* line 64, ../../sass/section/head.scss */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* line 72, ../../sass/section/head.scss */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* line 75, ../../sass/section/head.scss */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 700px) {
  /* line 85, ../../sass/section/head.scss */
  #head header .nav {
    display: none;
  }

  /* line 91, ../../sass/section/head.scss */
  #mNav {
    font-size: 30px;
    cursor: pointer;
    display: flex;
  }
}
