/* PROJECTS */
/* line 2, ../../sass/section/projects.scss */
#projects {
  background-color: #2B2D49;
}
/* line 5, ../../sass/section/projects.scss */
#projects .items .item {
  overflow: hidden;
  padding: 0;
}
/* line 8, ../../sass/section/projects.scss */
#projects .items .item img {
  opacity: .1;
  z-index: -1;
  height: 180px;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/* line 19, ../../sass/section/projects.scss */
#projects .items .description {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: .99;
  z-index: 2;
  color: #E74545;
  font-weight: 600;
}
/* line 34, ../../sass/section/projects.scss */
#projects .item:hover {
  transition: 1s;
  background: #E74545;
  opacity: .95;
}
/* line 39, ../../sass/section/projects.scss */
#projects .item:hover .description {
  display: flex;
  font-weight: 900;
  color: white;
}
/* line 44, ../../sass/section/projects.scss */
#projects .item:hover img {
  opacity: .1;
  transition: 1s;
  -webkit-transform: rotate(10deg) scale(1.4);
  transform: rotate(10deg) scale(1.4);
}
