/* footer */
/* line 2, ../../sass/footer/main.scss */
footer {
  background-color: #1f2a32;
  color: white;
}
/* line 5, ../../sass/footer/main.scss */
footer .footer-block {
  display: flex;
  flex-direction: column;
}
/* line 8, ../../sass/footer/main.scss */
footer .footer-block .footer-down {
  display: flex;
  justify-content: space-between;
}
/* line 11, ../../sass/footer/main.scss */
footer .footer-block .footer-down .coperations {
  display: flex;
  flex-direction: column;
}
