/*HomeChartHeader*/
.homeChartHeader {

  position: absolute;
  z-index: 2;
  .items {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .item {
      height: 70px;
      width: 70px;
      position: relative;
      display: flex;

      margin: 20px 100px 20px 20px;
      .pieValue {
        font-size: 22px;
        color: #2195F2;
        position: absolute;
        top: 35%;
        left: 25%;
      }
      .testPieChart {
        svg {
          height: 70px;
          width: 70px;
          transform: rotate(-90deg);
        }
      }
      .pieDesc {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: white;
        font-size: 22px;
        font-weight: 600;
        span {
          color: #9BA1B1;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}