/* Projects */
.projectsBlock {
  .header {
    height: 95px;
    background-color: #393D51;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

  }
  .addNewProjectBlock {
    display: flex;
    justify-content: space-between;
    .input {
      input {
        width: 100%;
      }
    }
  }
  .items {
    display: flex;
    flex-direction: column;

    .item {
      background-color: #2E3040;
      display: flex;
      flex-direction: row;
      align-items: center;
      .avatar {
        img {
          margin: 20px;
          height: 42px;
          width: 42px;
          border-radius: 50%;
        }
      }
      .description {
        width: 50%;
        .title {
          color: white;
        }
        .projectSum {
          color: #9DA3B3;
        }
      }
      .dropbox {
        margin-left: 20%;
        .dropdown {
          .menu {
            top: 0;
            left: -100px;
            right: 0;
            button {
              width: 100%;
              text-align: center;
              color: white;
              background-color: #393D51;
            }
          }
        }
        .dropDownBox {
          height: 16px;
          width: 4px;
          background: url(../../../assets/img/Home/drp.fw.png) no-repeat center;
          i {
            display: none;
          }
          .dropDownBoxMenu {

          }
        }
      }

    }
  }
}
