/* sales report */
.salesReportBlock {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #2F3242;
    .title {
      margin: 35px;
      color: white;
      font-size: 24.5px;
    }
    .select {
      margin: 35px;
    }
  }
}
@media screen and (max-width: 1200px) {

}