/* select */
.select {
  span {
    color: #9DA3B3;
    font-size: 16px;

  }
  select {
    cursor: pointer;
    background-color: #2195F3;
    border: none;
    border-radius: 25px 25px;
    outline: none;
    color: #9DA3B3;
    font-size: 16px;
    padding: 10px 100px 10px 15px;
  }
}