/* buttons */
button {
    height: 44px;
    padding: 0 50px 0 50px; 
    background-color: $button-bg;
    border-radius: 20px;
    border: none;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: white;

}