/* buttons */
/* line 4, ../../sass/buttons/main.scss */
#welcome button {
  width: 135px;
  height: 40px;
  text-align: center;
  border: none;
  background-color: #01b9ab;
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
/* line 17, ../../sass/buttons/main.scss */
#welcome button:hover {
  background-color: #ffad00;
  border: 2px solid #01b9ab;
}

/* line 25, ../../sass/buttons/main.scss */
#purchase button, #team button, footer button {
  margin-top: 20px;
  width: 135px;
  height: 40px;
  text-align: center;
  border: 2px solid #01b9ab;
  background-color: white;
  font-size: 12px;
}
/* line 36, ../../sass/buttons/main.scss */
#purchase button:hover, #team button:hover, footer button:hover {
  background-color: #ffad00;
}

/* line 41, ../../sass/buttons/main.scss */
#purchase-now button {
  width: 170px;
  height: 40px;
  text-align: center;
  border: 2px solid white;
  background-color: #01b9ab;
  margin-left: 50px;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 55, ../../sass/buttons/main.scss */
#purchase-now button:hover {
  background-color: #ffad00;
}

/* line 62, ../../sass/buttons/main.scss */
footer button {
  display: flex;
  align-items: center;
  background-color: #1f2a32;
  color: white;
}
