/*COMMENTS*/
#comments {
    background: url(../img/comments/main-bg.fw.png) no-repeat;
    background-size: cover; 

}
#comments .content-block {
    display: flex;
    flex-direction: column;
    .slider-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #C6C5CE;
        font-size: 16px;
        line-height: 1.7;
        font-family: 'Playfair Display', serif;
        text-align: center;
    }
    img {
        margin: 60px 0 70px 0;
    }
    h5 {
        margin-top: 50px;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    span {
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
    }
}
