/* BUTTONS */
#welcome-button {
    height: 45px;
    width: 200px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #E74545;
    border: none;
    border-radius: 3px;
    line-height: 1.62;
    text-transform: uppercase;
}

#download-button {
    width: 280px;
    height: 45px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #E74545;
    border: none;
    border-radius: 3px;
    line-height: 1.62;
    text-transform: uppercase;
}