@import url('https://fonts.googleapis.com/css?family=Cardo:400i,700|Open+Sans:700|Raleway:300,400,700,800');
/*
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
400	Normal
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
*/
#head {
    z-index: 1;
}
#services, #team, #projects {
    opacity: .99;
    z-index: -1;
    .items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}