@import url('https://fonts.googleapis.com/css?family=Cardo:400i,700|Open+Sans:700|Raleway:300,400,700,800');
/*
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
#services, #team, #projects {
    .items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}