<body>
    <!-- HEADER -->
    <section id="header">
        <div class="header-block container">
            <div class="template">
                <select name="" id="">
                    <option value="">Currency : GBP</option>
                    <option value="">Currency : GBP - 2</option>
                    <option value="">Currency : GBP - 3</option>
                </select>
            </div>
            <div class="user-block">
                <div><a href="">Register</a></div>
                <div><a href="">Sign In</a></div>
                <div class="basket">
                    <i class="material-icons">add_shopping_cart</i>
                    <span>empty</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
    </section>
    <!-- WELCOME -->
    <section id="welcome">
        <div class="head">
            <div class="logo">
                <h1><b>avenue</b>fashion</h1>
            </div>
            <div class="nav">
                <div class="dropdown">
                    <div class="item"><a href="">mens</a></div>
                    <div class="dropdown-content">
                        <div class="dropdown-block">
                            <div class="col-6">
                            <h3>casuals</h3>
                            <a href="#">Jackets</a>
                            <a href="#">Hoodies & Sweatshirts</a>
                            <a href="#">Polo Shirts</a>
                            <a href="#">Sportswear</a>
                            <a href="#">Trousers & Chinos</a>
                            <a href="#">T-Shirts</a>
                            </div>
                            <div class="col-6">
                            <h3>Formal</h3>
                            <a href="#">Jackets</a>
                            <a href="#">Shirts</a>
                            <a href="#">Suits</a>
                            <a href="#">Trousers</a>
                            </div>
                        </div>
                        <div class="advertise container">
                            <p><b>Autumn sale!</b></p>
                            <p>up to 50% off</p>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <div class="item"><a href="">womens</a></div>
                    <div class="dropdown-content">
                        <div class="dropdown-block">
                            <div class="col-6">
                            <h3>casuals</h3>
                            <a href="#">Jackets</a>
                            <a href="#">Hoodies & Sweatshirts</a>
                            <a href="#">Polo Shirts</a>
                            <a href="#">Sportswear</a>
                            <a href="#">Trousers & Chinos</a>
                            <a href="#">T-Shirts</a>
                            </div>
                            <div class="col-6">
                            <h3>Formal</h3>
                            <a href="#">Jackets</a>
                            <a href="#">Shirts</a>
                            <a href="#">Suits</a>
                            <a href="#">Trousers</a>
                            </div>
                        </div>
                        <div class="advertise container">
                            <p><b>Autumn sale!</b></p>
                            <p>up to 50% off</p>
                        </div>
                    </div>
                </div>
                <div class="item"><a href="">the brand</a></div>
                <div class="item"><a href="">local stores</a></div>
                <div class="item"><a href="">look book</a></div>
                <div class="search">
                    <input type="text" placeholder="Search..">
                </div>
            </div>
        </div>
        <div class="main-block">
            <div class="slider">
                <img src="img/head/slider/slider.fw.png" alt="slider-bg">
                <button>shop men’s collection</button>
            </div>
        </div>
    </section>
    <!-- PRODUCTS -->
    <section id="products">
        <div class="head">
            <hr>
            <div class="nav options">
                <div class="item"><a class="clear" href="#products">popular</a></div>
                <div class="item"><a class="filter" href="#products">new arrivals</a></div>
                <div class="item"><a class="filter" href="#products">best sellers</a></div>
                <div class="item"><a class="filter" href="#products">special offers</a></div>
                <div class="item"><a class="filter" href="#products">coming soon</a></div>
            </div>
        </div>           
        <div class="grid sorting_list" data-masonry='{ "itemSelector": ".grid-item" }'>
            <div class="grid-item portfolio-item">
                    <img class="img-responsive" src="img/products/low-img.fw.png" alt="">
                    <figcaption>
                        <span>Womens id-1 burnt orange casual tee  £29.95</span>
                        <p>Classic casual t-shirt for women on the move. new arrivals. <br>
                        100% cotton.</p>
                        <div class="social-block">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </figcaption>
            </div>
            <div class="grid-item portfolio-item">
                    <img src="img/products/low-img.fw.png" alt="">
                    <figcaption>
                        <span>Womens best sellers burnt orange casual tee  £29.95</span>
                        <p>Classic casual t-shirt for women coming soon on the move. <br>
                        100% cotton.</p>
                        <div class="social-block">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </figcaption>
            </div>
            <div class="grid-item portfolio-item">
                    <img src="img/products/large-img.fw.png" alt="">
                    <figcaption>
                        <span>Womens id-3 burnt orange casual tee  £29.95</span>
                        <p>Classic casual t-shirt for women coming soon on the move. <br>
                        100% cotton.</p>
                        <div class="social-block">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </figcaption>
            </div>
            <div class="grid-item">
                    <img src="img/products/large-img.fw.png" alt="">
                    <figcaption>
                        <span>Womens id-4 burnt orange casual tee  £29.95</span>
                        <p>Classic casual t-shirt for women on the move. <br>
                        100% cotton.</p>
                        <div class="social-block">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </figcaption>
            </div>
            <div class="grid-item">
                    <img src="img/products/low-img.fw.png" alt="">
                    <figcaption>
                        <span>Womens id-5 id-6 burnt orange casual tee  £29.95</span>
                        <p>Classic casual t-shirt for women coming soon on the move. <br>
                        100% cotton.</p>
                        <div class="social-block">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </figcaption>
            </div>
            <div class="grid-item w c m">
                    <img src="img/products/low-img.fw.png" alt="">
                    <figcaption>
                        <span>Womens best sellers burnt orange casual tee  £29.95</span>
                        <p>Classic casual t-shirt for special offers women on the move. <br>
                        100% cotton.</p>
                        <div class="social-block">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </figcaption>
            </div>
        </div>
    </section>
    <!-- advertising -->
    <section id="advertising">
        <div class="items">
            <!-- 1 -->
            <div class="item">
                <h3>men’s</h3>
                <span>lookbook</span>
                <p>Lorem ipsum dolor sit amet eras facilisis <br>
                consectetur adipiscing elit lor, integer<br> lorem consecteur dignissim laciniqui.<br>
                Elementum metus facilisis ut phasellu.<br>
                </p>
                <button>view now</button>
            </div>
            <!-- 2 -->
            <div class="item">
                <h3>women’s</h3>
                <span>lookbook</span>
                <p>Pellentesque habitant morbi tristique<br> senectus et netus et malesuada fames .<br>
                Pellentesque laoreet quis enim et mattis.<br> Quisque interdum felis tellus.<br>
                </p>
                <button>view now</button>
            </div>
            <!-- 3 -->
            <div class="item">
                <h3>your</h3>
                <span>lookbook</span>
                <p>See an item you like and click the  button<br> to add it to your lookbook where you can<br> create your own perfect look.<br>
                It’s like your own boutique!<br>
                </p>
                <button>view now</button>
            </div>
        </div>
    </section>
    <!-- info -->
    <section id="info">
        <div class="block container">
            <div class="list row">
                <div class="item col">
                    <h4>Information</h4>
                    <ul>
                        <li>The brand</li>
                        <li>Local stores</li>
                        <li>Customer service</li>
                        <li>Privacy & cookies</li>
                        <li>Site map</li>
                    </ul>
                </div>
                <div class="item col">
                    <h4>Why buy from us</h4>
                    <ul>
                        <li>The brand</li>
                        <li>Local stores</li>
                        <li>Customer service</li>
                        <li>Privacy & cookies</li>
                        <li>Site map</li>
                    </ul>
                </div>
                <div class="item col">
                    <h4>Your account</h4>
                    <ul>
                        <li>The brand</li>
                        <li>Local stores</li>
                        <li>Customer service</li>
                        <li>Privacy & cookies</li>
                        <li>Site map</li>
                    </ul>
                </div>
                <div class="item col">
                    <h4>Lookbook</h4>
                    <ul>
                        <li>The brand</li>
                        <li>Local stores</li>
                        <li>Customer service</li>
                        <li>Privacy & cookies</li>
                        <li>Site map</li>
                    </ul>
                </div>
                <div class="item col">
                    <h4>contact details</h4>
                    <ul>
                        <li>The brand</li>
                        <li>Local stores</li>
                        <li>Customer service</li>
                        <li>Privacy & cookies</li>
                        <li>Site map</li>
                    </ul>
                </div>
            </div>    
        </div>
        <div class="botton">
            <div class="banners container">
                <div class="banner">
                    <p><b>award winner</b><br>
                       <span>fashion awards 2016</span></p>
                </div>
                <div class="banner">
                    <div class="social-block">
                        <img src="img/info/share/main.fw.png" alt="share">
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>