<footer>
    <div class="main-footer-block">
        <div class="footer-block-items">
            <div class="footer-block-item">
                1
            </div>
            <div class="footer-block-item">
                2
            </div>
            <div class="footer-block-item">
                3
            </div>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>