<footer>
    <div class="footer-block">
        <div class="coperation">
            <span>© 2016 Avenue Fashion™</span>
        </div>
        <div class="avtor">
            <span>Design by RobbyDesigns.com</span>
            <span>Dev by Loremipsum.com</span>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- masonry -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<!-- filter -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
</body>
</html>