/*FOOTER*/
/* line 2, ../sass/footer.scss */
footer .preview-logo {
  height: 50px;
  width: 127px;
  background: url(../img/logo.fw.png) no-repeat;
  margin-bottom: 30px;
}

/* line 8, ../sass/footer.scss */
footer {
  background: url(../img/footer/main-bg.fw.png) no-repeat;
  background-size: cover;
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
/* line 14, ../sass/footer.scss */
footer h6 {
  font-size: 15px;
}
/* line 17, ../sass/footer.scss */
footer p {
  line-height: 1.7;
}
/* line 20, ../sass/footer.scss */
footer button {
  width: 70px;
  height: 45px;
  background: url(../img/footer/button-bg.fw.png) no-repeat;
  background-size: cover;
  border-radius: 0;
}
/* line 27, ../sass/footer.scss */
footer .footer-item-subscribe {
  display: flex;
  display: row;
}
/* line 31, ../sass/footer.scss */
footer .footer-item-social-block {
  margin-top: 30px;
  display: flex;
  display: row;
  justify-content: space-between;
}
/* line 37, ../sass/footer.scss */
footer input {
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  flex-direction: column;
  background: url(../img/footer/input-bg.fw.png) no-repeat;
  background-size: cover;
}
/* line 46, ../sass/footer.scss */
footer ::-webkit-input-placeholder {
  color: #C6C5CE;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
}
/* line 52, ../sass/footer.scss */
footer input[placeholder] {
  color: #C6C5CE;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
/* line 57, ../sass/footer.scss */
footer .footer-block {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
/* line 62, ../sass/footer.scss */
footer .footer-block .footer-block-items {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
/* line 67, ../sass/footer.scss */
footer .footer-block .footer-block-items .footer-block-item .footer-item-title {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
/* line 75, ../sass/footer.scss */
footer .footer-block .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 0 70px 0;
}
/* line 80, ../sass/footer.scss */
footer .footer-block .footer-nav .nav-elements {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 86, ../sass/footer.scss */
footer .footer-block .footer-nav a {
  font-size: 13px;
  color: white;
  text-decoration: none;
}
/* line 91, ../sass/footer.scss */
footer .footer-block .footer-nav a:visited {
  color: white;
}
/* line 94, ../sass/footer.scss */
footer .footer-block .footer-nav a:hover, footer .footer-block .footer-nav :active {
  color: #00DFCF;
}
