<section id="industry">
    <div class="industry-block container">
        <header>
            <h2>choose your industry</h2>
        </header>
        <div class="items row">
            <div class="item col-sm-12 col-xl-6">
                <div class="img col-xl-5"></div>
                <article>
                    <header>
                        <h3>Business</h3>
                    </header>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.</p>
                    <footer><button>Choose your service</button></footer>
                </article>
            </div>
            <div class="item col-sm-12 col-xl-6">
                <div class="img col-xl-5"></div>
                <article>
                    <header>
                        <h3>Education</h3>
                    </header>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.</p>
                    <footer><button>Choose your service</button></footer>
                </article>
            </div>
            <div class="item col-sm-12 col-xl-6">
                <div class="img col-xl-5"></div>
                <article>
                    <header>
                        <h3>technology</h3>
                    </header>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.</p>
                    <footer><button>Choose your service</button></footer>
                </article>
            </div>
            <div class="item col-sm-12 col-xl-6">
                <div class="img col-xl-5"></div>
                <article>
                    <header>
                        <h3>real estate</h3>
                    </header>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.</p>
                    <footer><button>Choose your service</button></footer>
                </article>
            </div>
            <div class="item col-sm-12 col-xl-6">
                <div class="img col-xl-5"></div>
                <article>
                    <header>
                        <h3>telecommunication</h3>
                    </header>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.</p>
                    <footer><button>Choose your service</button></footer>
                </article>
            </div>
            <div class="item col-sm-12 col-xl-6">
                <div class="img col-xl-5"></div>
                <article>
                    <header>
                        <h3>BANKING & FINANCIAL</h3>
                    </header>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.</p>
                    <footer><button>Choose your service</button></footer>
                </article>
            </div>
            <div class="item col-sm-12 col-xl-6">
                <div class="img col-xl-5"></div>
                <article>
                    <header>
                        <h3>Law</h3>
                    </header>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.</p>
                    <footer><button>Choose your service</button></footer>
                </article>
            </div>
            <div class="item col-sm-12 col-xl-6">
                <div class="img col-xl-5"></div>
                <article>
                    <header>
                        <h3>Construction</h3>
                    </header>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many.</p>
                    <footer><button>Choose your service</button></footer>
                </article>
            </div>
        </div>
    </div>
</section> 