/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Cardo:400i,700|Open+Sans:700|Raleway:300,400,700,800");
/* line 5, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
400	Normal
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
*/
/* line 16, ../sass/main.scss */
#head {
  z-index: 1;
}

/* line 19, ../sass/main.scss */
#services, #team, #projects {
  opacity: .99;
  z-index: -1;
}
/* line 22, ../sass/main.scss */
#services .items, #team .items, #projects .items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* line 26, ../sass/main.scss */
#services .items .item, #team .items .item, #projects .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEAD */
/* line 4, ../sass/section/head.scss */
#head header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 9, ../sass/section/head.scss */
#head header .logo {
  color: #C5C9CB;
  font-weight: 600;
}
/* line 13, ../sass/section/head.scss */
#head header .nav {
  display: flex;
  flex-wrap: wrap;
}
/* line 16, ../sass/section/head.scss */
#head header .nav .item {
  margin: 5px;
}
/* line 18, ../sass/section/head.scss */
#head header .nav .item a {
  color: #C5C9CB;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 24, ../sass/section/head.scss */
#head header .nav .item a:hover {
  color: white;
}
/* line 29, ../sass/section/head.scss */
#head header .fixed-header {
  position: fixed;
  left: 0;
  right: 0;
}
/* line 35, ../sass/section/head.scss */
#head .hr hr {
  padding: 0;
  margin: 0;
}

/* mobile nav with js*/
/* line 42, ../sass/section/head.scss */
#mNav {
  display: none;
}

/* line 45, ../sass/section/head.scss */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

/* line 57, ../sass/section/head.scss */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* line 64, ../sass/section/head.scss */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* line 72, ../sass/section/head.scss */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* line 75, ../sass/section/head.scss */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 700px) {
  /* line 85, ../sass/section/head.scss */
  #head header .nav {
    display: none;
  }

  /* line 91, ../sass/section/head.scss */
  #mNav {
    font-size: 30px;
    cursor: pointer;
    display: flex;
  }
}
/* WELCOME */
/* line 3, ../sass/section/welcome.scss */
#welcome .welcome-block {
  height: 100vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 10, ../sass/section/welcome.scss */
#welcome .welcome-block h1 {
  font-size: 65px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}
/* line 17, ../sass/section/welcome.scss */
#welcome .welcome-block p {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 75px;
}

@media screen and (max-width: 1050px) {
  /* line 30, ../sass/section/welcome.scss */
  #welcome .welcome-block h1 {
    font-size: 35px;
  }
  /* line 33, ../sass/section/welcome.scss */
  #welcome .welcome-block p {
    font-size: 11px;
  }
}
/* SERVICES */
/* line 4, ../sass/section/services.scss */
#services .items .item {
  margin-top: 35px;
  margin-bottom: 35px;
}
/* line 7, ../sass/section/services.scss */
#services .items .item h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #2D2F33;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 25px;
}
/* line 18, ../sass/section/services.scss */
#services .items .item p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6B7179;
  line-height: 1.5;
  text-align: center;
}

/* PROJECTS */
/* line 2, ../sass/section/projects.scss */
#projects {
  background-color: #2B2D49;
}
/* line 5, ../sass/section/projects.scss */
#projects .items .item {
  overflow: hidden;
  padding: 0;
}
/* line 8, ../sass/section/projects.scss */
#projects .items .item img {
  opacity: .1;
  z-index: -1;
  height: 180px;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/* line 20, ../sass/section/projects.scss */
#projects .items .description {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: .99;
  z-index: 2;
  color: #E74545;
  font-weight: 600;
}
/* line 37, ../sass/section/projects.scss */
#projects .item:hover .description {
  transition: 2s;
  font-weight: 900;
}
/* line 41, ../sass/section/projects.scss */
#projects .item:hover img {
  opacity: .99;
  -webkit-transform: rotate(10deg) scale(1.4);
  transform: rotate(10deg) scale(1.4);
}

/* TEAM */
/* line 4, ../sass/section/team.scss */
#team .items .item {
  width: 270px;
  margin-top: 35px;
  margin-bottom: 35px;
}
/* line 8, ../sass/section/team.scss */
#team .items .item .header {
  width: 270px;
}
/* line 10, ../sass/section/team.scss */
#team .items .item .header h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: #2D3033;
  text-align: left;
  margin-top: 35px;
}
/* line 17, ../sass/section/team.scss */
#team .items .item .header span {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #E74545;
}
/* line 24, ../sass/section/team.scss */
#team .items .item .description {
  width: 270px;
}
/* line 26, ../sass/section/team.scss */
#team .items .item .description p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6C7279;
  margin-top: 30px;
}
/* line 33, ../sass/section/team.scss */
#team .items .item .share {
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* line 38, ../sass/section/team.scss */
#team .items .item .share div {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border: solid 0.5px #C5C9CB;
  border-radius: 1px;
}
/* line 45, ../sass/section/team.scss */
#team .items .item .share div:hover {
  background-color: #E74545;
}
/* line 48, ../sass/section/team.scss */
#team .items .item .share div:nth-child(1) {
  background-image: url(../img/team/share/f.bg.fw.png);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 53, ../sass/section/team.scss */
#team .items .item .share div:nth-child(2) {
  background-image: url(../img/team/share/t.bg.fw.png);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 58, ../sass/section/team.scss */
#team .items .item .share div:nth-child(3) {
  background-image: url(../img/team/share/in.bg.fw.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* COMMENTS */
/* DOWNLOAD */
/* line 3, ../sass/section/download.scss */
#download .download-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* line 8, ../sass/section/download.scss */
#download .download-block h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #2D3033;
  line-height: 0.75;
  margin-top: 100px;
}
/* line 16, ../sass/section/download.scss */
#download .download-block span {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #2D3033;
  text-transform: uppercase;
  line-height: 1.62;
}
/* line 24, ../sass/section/download.scss */
#download .download-block button {
  margin-top: 40px;
  margin-bottom: 100px;
}

/* FOOTER */
/* line 3, ../sass/section/footer.scss */
#footer footer {
  background-color: #393D63;
}
/* line 5, ../sass/section/footer.scss */
#footer footer .footer-block {
  display: flex;
  flex-wrap: wrap;
}
/* line 10, ../sass/section/footer.scss */
#footer footer .footer-block .about, #footer footer .footer-block .location, #footer footer .footer-block .share {
  margin-top: 60px;
  margin-bottom: 100px;
}
/* line 15, ../sass/section/footer.scss */
#footer footer .footer-block div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}
/* line 22, ../sass/section/footer.scss */
#footer footer .footer-block div span {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}
/* line 28, ../sass/section/footer.scss */
#footer footer .footer-block div p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.61;
  margin-top: 20px;
}
/* line 34, ../sass/section/footer.scss */
#footer footer .footer-block div .share-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* line 38, ../sass/section/footer.scss */
#footer footer .footer-block div .share-block div {
  width: 40px;
  height: 40px;
  margin: 20px 5px 0 5px;
  border: solid 0.5px #C5C9CB;
  border-radius: 1px;
}
/* line 45, ../sass/section/footer.scss */
#footer footer .footer-block div .share-block div:hover {
  background-color: #E74545;
}
/* line 48, ../sass/section/footer.scss */
#footer footer .footer-block div .share-block div:nth-child(1) {
  background-image: url(../img/team/share/f.bg.fw.png);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 53, ../sass/section/footer.scss */
#footer footer .footer-block div .share-block div:nth-child(2) {
  background-image: url(../img/team/share/t.bg.fw.png);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 58, ../sass/section/footer.scss */
#footer footer .footer-block div .share-block div:nth-child(3) {
  background-image: url(../img/team/share/in.bg.fw.png);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 66, ../sass/section/footer.scss */
#footer footer .copyright {
  background-color: #313353;
  display: flex;
  align-items: center;
}
/* line 70, ../sass/section/footer.scss */
#footer footer .copyright div {
  margin: 30px 0 30px 0;
}
/* line 72, ../sass/section/footer.scss */
#footer footer .copyright div p {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 14px;
  line-height: 1.61;
  color: #7F7F7F;
  margin: 0;
  text-align: center;
}
/* line 79, ../sass/section/footer.scss */
#footer footer .copyright div p span {
  color: white;
}

/* BUTTONS */
/* line 2, ../sass/buttons.scss */
#welcome-button {
  height: 45px;
  width: 200px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: white;
  background-color: #E74545;
  border: none;
  border-radius: 3px;
  line-height: 1.62;
  text-transform: uppercase;
}

/* line 16, ../sass/buttons.scss */
#download-button {
  width: 280px;
  height: 45px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: white;
  background-color: #E74545;
  border: none;
  border-radius: 3px;
  line-height: 1.62;
  text-transform: uppercase;
}
