/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Cardo:400i,700|Open+Sans:700|Raleway:300,400,700,800");
/* line 5, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
/* line 8, ../sass/main.scss */
#services .items, #team .items, #projects .items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* line 12, ../sass/main.scss */
#services .items .item, #team .items .item, #projects .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEAD */
/* line 3, ../sass/section/head.scss */
#head header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 8, ../sass/section/head.scss */
#head header .nav {
  display: flex;
  flex-wrap: wrap;
}

/* WELCOME */
/* line 3, ../sass/section/welcome.scss */
#welcome .welcome-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SERVICES */
/* line 5, ../sass/section/services.scss */
#services .items .item p {
  text-align: center;
}

/* PROJECTS */
/* TEAM */
/* line 4, ../sass/section/team.scss */
#team .items .item {
  width: 270px;
}

/* COMMENTS */
/* DOWNLOAD */
/* line 3, ../sass/section/download.scss */
#download .download-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* FOOTER */
/* line 4, ../sass/section/footer.scss */
#footer footer .footer-block {
  display: flex;
  flex-wrap: wrap;
}
/* line 7, ../sass/section/footer.scss */
#footer footer .footer-block div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 13, ../sass/section/footer.scss */
#footer footer .copyright {
  display: flex;
  align-items: center;
}
/* line 17, ../sass/section/footer.scss */
#footer footer .copyright div p {
  text-align: center;
}
