#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000002;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page-preloader .spinner {
  img {
    height: 50vh;
    width: 50vw;
  }
}