body {
    margin: 0;
    padding: 0;
    font-family: Aparajita;
}

header {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .head {
    margin-top: 55px;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
}
header .welcome-block {
    margin-top: 230px;
    margin-bottom: 175px;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    color: white;
}
header .welcome-block h1 {
    margin: 0 auto;
    font-size: 86px;
}
header .welcome-block h2 {
    margin: 0 auto;
    font-size: 60px;
}
section {
    width: 1170px;
    margin: 0 auto;

}

header .about-header {
    width: 1140px;
    margin: 0 auto;
    
    background-color: white;
    border-radius: 10px 10px 0 0;

    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;

    font-size: 40px;
    color: #2C3D4F;
}

header .about-header h3 {

    margin-top: 75px;
    margin-bottom: 30px;
}

.about-header img {
    margin-bottom: 30px;

}
#head {
    width: 1920px;
    background-color: #3397DB;;
}
#about {
    width: 1920px;
    background: url(../../tasks/homework-2.0/img/background.fw.png); 
}

#recent {
    width: 1920px;
    background-color: green;
}

section .about-description {
    width: 1140px;
    margin: 0 auto;
    
    background-color: white;
    border-radius: 0 0 10px 10px;

}

section .about-description p {
    width: 775px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #2C3D4F;
}

section .button-block {
    margin: 0 auto;
    width: 270px;
    height: 210px;

    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    margin: 0 auto;
    width: 270px;
    height: 75px;

    margin-bottom: 75px;

    background-color: #3397DB;
    border: 0;
    border-radius: 40px 40px 40px 40px;

    font-size: 20px;
    color: white;
}
.figure-block {
    margin: 0 auto;
    width: 1140px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.figure-block figcaption {
    
    width: 220px;

    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #2C3D4F;
}
.circle {
    width: 220px;
    height: 220px;

    border-radius: 110px 110px 110px 110px;
    background-color: white;
}

#recent article header {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

#recent article header h3 {
    margin: 0 auto;
    margin-top: 100px;
    font-size: 40px;
    color: white;
}

#recent article header p {
    margin-bottom: 75px;
    width: 775px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.slider {
    margin: 0 auto;
}

.slider-footer {
    height: 120px;
    
}

.slider img {
    width: 1506px;
    margin: 0 auto;

    display: flex;
    justify-content: center;

}

#article {
    width: 1920px;
    /*background: url(../../tasks/homework-2.0/img/background.fw.png); */
    background-color: #9B59B5;

}

section .info {

    margin: 0 auto;
    font-size: 40px;
    font-weight: 600;
    color: #2C3D4F;
    text-align: center;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

    background: url(../../tasks/homework-2.0/img/background.fw.png);

}

section .info p {
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

.content-headers {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
   

}

.content-header {
    margin: 0 auto;
    width: 555px;
    height: 200px;

    background-color: white;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .content {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.content article {

    margin: 0 auto;
    width: 555px;


    background-color: white;
    border-radius: 0 0 10px 10px;

    display: flex;
    flex-direction: column;

    align-items: center;

}

.content article h5{
    font-size: 40px;
    color: #2C3D4F;
    text-align: center;
    text-transform: uppercase;

}

.content article p{
    width: 450px;
    font-size: 20px;
    color: #2C3D4F;
    text-align: center;
    text-transform: uppercase;

}

.footer-content {
    width: 1170px;
    
    margin: 0 auto;
    margin-top: 120px;
    
}

.footer-content h5{
    width: 450px;
    margin: 0 auto;
    margin-bottom: 95px;
    font-size: 40px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.clients-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.clients-block-item {
    margin-bottom: 125px;
}

#team {
    width: 1920px;
    background: url(../../tasks/homework-2.0/img/background.fw.png); 

}

#team h5 {
    width: 450px;
    
    margin: 0 auto;
    padding-top: 100px;
    
    font-size: 40px;
    color: #2C3D4F;
    text-align: center;
    text-transform: uppercase;
}

#team p {
    width: 750px;
    margin: 0 auto;
    padding-top: 40px;
    font-size: 20px;
    color: #2C3D4F;
    text-align: center;
    text-transform: uppercase;
}

.figure-block figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure-block figure h6{
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
    color: #2C3D4F;
    text-align: center;
    text-transform: uppercase;
}

.figure-block figcaption {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 280px;

}

.social-block {
    margin: 0 auto;
    width: 140px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer {
    width: 1920px;
    
    margin: 0 auto;
    background-color: #2B3D4F;

}

footer .footer-content {
    width: 1170px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .footer-content nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

footer li {
    margin: 10px;
}







