/* calendar */
.home {
    #mainContent {
        .content {
            .calendarComponents {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                .bigCalendar {
                    margin: 15px;
                    .rbc-calendar {
                        

                    }
                    
                }
            }
        }
    }
}