/* calendar */
#testModal {
    padding: 25px;
    width: 300px;
    background-color: white;
    position: fixed;
    left: 45%;
    right: 50%;
    top: 20%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #8391AF;
    .close {
        width: 10px;
        height: 10px;
        margin-left: 90%;
    }
    .header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #8391AF;
        padding-bottom: 25px;
        span {
            margin: 10px 0;
        }
        .author {
            display: flex;
            flex-direction: row;

            .avatarImg {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: #231F3D;
            }
            
            div {
                display: flex;
                flex-direction: column;
                span {
                    margin: 0;
                    margin-left: 10px;
                    
                }
                .name {
                    color: #0D1935;
                    font-size: 20px;
                    font-weight: 600;
                }


            }
            
        }



    }

    .contentBlock {
        display: flex;
        flex-direction: column;
        padding: 25px 0;
        border-bottom: 1px solid #8391AF;
        background-color: white;
        .block {
            display: flex;
            justify-content: space-between;
            background-color: white;
            margin-bottom: 5px;
            p {
                color: #0D1935;
                font-weight: 600;
            }
        }
    }
    .buttonBlock {
        display: flex;
        justify-content: center;
        padding: 25px 0;
        button {
            background-color: #5583FF;
            font-size: 18px;
            font-weight: 600;
            color: white;
            border: none;
            outline: none;
            padding: 15px 35px;
            border-radius: 30px;
        }

    }
}
.home {
    #mainContent {
        .content {
            .calendarComponents {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                .bigCalendar {
                    margin: 15px;
                    .rbc-calendar {
                        
                        background-color: #FFFFFF;
                        .rbc-toolbar {
                            background-color: #F5F7F9;
                            margin: 0;
                        }
                        .rbc-month-row {
                            .rbc-row-bg {
                                .rbc-off-range-bg {
                                    background-color: #FFFFFF;
                                }
                            }
                            .rbc-row-content {
                                .rbc-row {
                                    .rbc-row-segment {
                                        .rbc-event {
                                            background-color: #5583FF;
                                            border-radius: none;
                                            padding: 0;
                                            .rbc-event-content {
                                                font-family: 'Roboto', sans-serif;
                                                display: flex;
                                                align-items: center;
                                                text-align: left;
                                                margin-left: 5px;
                                                height: 45px;
                                                background-color: #F5F7F9;
                                                font-size: 14px;
                                                color: #0D1935;

                                            }
                                        }
                                    }
                                    .rbc-date-cell {
                                        text-align: left;
                                        margin-top: 25px;
                                        a {
                                            font-family: 'Roboto', sans-serif;
                                            margin-left: 25px;                   
                                            text-transform: uppercase;
                                            font-size: 20px;
                                            font-weight: 400;
                                            color: #8391AF;
                                        }
                                    }
                                }
                            }
                        }
                        .rbc-header {
                            
                            height: 75px;
                            display: flex;
                            align-items: center;
                            text-align: left;
                            
                            color: #0D1935;
                            font-size: 20px;
                            font-weight: 400;
                            a, span {
                                text-transform: uppercase;
                                margin-left: 25px;
                            }
                        }
                        .rbc-month-view {


                            .rbc-month-row {
                                display: flex;
                                display: flex;
                                position: relative;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                -ms-flex: 150px;
                                flex: 150px;
                                overflow: hidden;
                                height: 100%;
                            }
    

                        }

                    }
                    
                }

            }
        }
    }
}
@media screen and (max-width: 1200px) {
    #testModal {
        left: 10%;
        top: 10%;
    }
    .home {
        #mainContent {
            .content {
                .calendarComponents {
                    .bigCalendar {
                        overflow: scroll;
                        .rbc-calendar {
                            width: 1200px;
                            

                        }

                    }
                }

            }
        }
    }   
}