/* workflow */
.home {
    #mainContent {
        .content {
            .workFlowComponents {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                .toDo, .InProgress, .Completed {
                    .header {
                        margin: 15px;
                        span {
                            color: #8391AF;
                        }
                    }
                    .addItem {
                        z-index: 1;
                        height: 110px;
                        width: 110px;
                        background: url(../img/workflow/add-icon.png);
                        background-size: 100% 100%;
                        position: absolute;
                        left: 40%;
                        border: 1px solid #D4D8E3;
                        margin: 10px 0;
                    }
                    .addItem:hover {
                        transition-duration: 1s;
                        border: 1px solid #FFFFFF;
                        cursor: pointer;

                    }
                    .items {
                        z-index: -1;
                        display: flex;
                        flex-direction: column;
                        margin: 15px;
                        min-height: 100px;

                       
                        .item {
                            z-index: 2;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin: 10px 0;
                            background-color: #FFFFFF;
                            border: 1px solid #D4D8E3;
                            cursor: pointer;
                            .preview {
                                margin: 25px;
                                height: 45px;
                                width: 45px;
                                border-radius: 50%;
                                background-color: #5383FF;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 24px;
                                color: white;
                            }
                            .description {
                                margin: 25px 0;
                                width: 60%;
                                font-size: 14px;
                                p {
                                    color: #0D1935;
                                    font-size: 20px;
                                }   
                                .free {
                                    color: #8391AF;
                                }
                                .delete {          
                                    color: #F73B7B;
                                }
                            }
                            .itemControl {
                                height: 33px;
                                width: 7px;
 
                                .dropWorkBtn, .dropWorkBtnTest {
                                    height: 100%;
                                    width: 100%;
                                    background: url(../img/workflow/item-icon.fw.png) no-repeat center;
                                    background-size: 100% 100%;
                                }
                                .dropdownWorkSet, .dropdownWorkSetTest {
                                    position: absolute;
                                    display: flex;
                                    flex-direction: column;
                                    margin: -30px 10px;                     
                                    right: 25px;
                                    z-index: 99;
                                    background-color: white;
                                    outline: 1px solid #D4D8E3;
                                    button {
                                        margin: 5px;
                                        outline: none;
                                        border: none;
                                        background-color: transparent;
                                    }
                                    button:hover {
                                        transition: 1s;
                                        box-shadow: 1px 1px 30px 0px rgba(50, 50, 50, 0.75);
                                    }
                                }
                                
                            }

                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .home {
        #mainContent {
            .content {
                .workFlowComponents {
                    .toDo, .InProgress, .Completed {
                        .addItem {
                            left: 0;
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
    }


}