/* workflow */
.home #mainContent .content .workFlowComponents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .home #mainContent .content .workFlowComponents .toDo .header, .home #mainContent .content .workFlowComponents .InProgress .header, .home #mainContent .content .workFlowComponents .Completed .header {
    margin: 15px; }
    .home #mainContent .content .workFlowComponents .toDo .header span, .home #mainContent .content .workFlowComponents .InProgress .header span, .home #mainContent .content .workFlowComponents .Completed .header span {
      color: #8391AF; }
  .home #mainContent .content .workFlowComponents .toDo .addItem, .home #mainContent .content .workFlowComponents .InProgress .addItem, .home #mainContent .content .workFlowComponents .Completed .addItem {
    z-index: 1;
    height: 110px;
    width: 110px;
    background: url(../img/workflow/add-icon.png);
    background-size: 100% 100%;
    position: absolute;
    left: 40%;
    border: 1px solid #D4D8E3;
    margin: 10px 0; }
  .home #mainContent .content .workFlowComponents .toDo .addItem:hover, .home #mainContent .content .workFlowComponents .InProgress .addItem:hover, .home #mainContent .content .workFlowComponents .Completed .addItem:hover {
    transition-duration: 1s;
    border: 1px solid #FFFFFF;
    cursor: pointer; }
  .home #mainContent .content .workFlowComponents .toDo .items, .home #mainContent .content .workFlowComponents .InProgress .items, .home #mainContent .content .workFlowComponents .Completed .items {
    z-index: -1;
    display: flex;
    flex-direction: column;
    margin: 15px;
    min-height: 100px; }
    .home #mainContent .content .workFlowComponents .toDo .items .item, .home #mainContent .content .workFlowComponents .InProgress .items .item, .home #mainContent .content .workFlowComponents .Completed .items .item {
      z-index: 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px 0;
      background-color: #FFFFFF;
      border: 1px solid #D4D8E3;
      cursor: pointer; }
      .home #mainContent .content .workFlowComponents .toDo .items .item .preview, .home #mainContent .content .workFlowComponents .InProgress .items .item .preview, .home #mainContent .content .workFlowComponents .Completed .items .item .preview {
        margin: 25px;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: #5383FF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: white; }
      .home #mainContent .content .workFlowComponents .toDo .items .item .description, .home #mainContent .content .workFlowComponents .InProgress .items .item .description, .home #mainContent .content .workFlowComponents .Completed .items .item .description {
        margin: 25px 0;
        width: 60%;
        font-size: 14px; }
        .home #mainContent .content .workFlowComponents .toDo .items .item .description p, .home #mainContent .content .workFlowComponents .InProgress .items .item .description p, .home #mainContent .content .workFlowComponents .Completed .items .item .description p {
          color: #0D1935;
          font-size: 20px; }
        .home #mainContent .content .workFlowComponents .toDo .items .item .description .free, .home #mainContent .content .workFlowComponents .InProgress .items .item .description .free, .home #mainContent .content .workFlowComponents .Completed .items .item .description .free {
          color: #8391AF; }
        .home #mainContent .content .workFlowComponents .toDo .items .item .description .delete, .home #mainContent .content .workFlowComponents .InProgress .items .item .description .delete, .home #mainContent .content .workFlowComponents .Completed .items .item .description .delete {
          color: #F73B7B; }
      .home #mainContent .content .workFlowComponents .toDo .items .item .itemControl, .home #mainContent .content .workFlowComponents .InProgress .items .item .itemControl, .home #mainContent .content .workFlowComponents .Completed .items .item .itemControl {
        height: 33px;
        width: 7px; }
        .home #mainContent .content .workFlowComponents .toDo .items .item .itemControl .dropWorkBtn, .home #mainContent .content .workFlowComponents .toDo .items .item .itemControl .dropWorkBtnTest, .home #mainContent .content .workFlowComponents .InProgress .items .item .itemControl .dropWorkBtn, .home #mainContent .content .workFlowComponents .InProgress .items .item .itemControl .dropWorkBtnTest, .home #mainContent .content .workFlowComponents .Completed .items .item .itemControl .dropWorkBtn, .home #mainContent .content .workFlowComponents .Completed .items .item .itemControl .dropWorkBtnTest {
          height: 100%;
          width: 100%;
          background: url(../img/workflow/item-icon.fw.png) no-repeat center;
          background-size: 100% 100%; }
        .home #mainContent .content .workFlowComponents .toDo .items .item .itemControl .dropdownWorkSet, .home #mainContent .content .workFlowComponents .toDo .items .item .itemControl .dropdownWorkSetTest, .home #mainContent .content .workFlowComponents .InProgress .items .item .itemControl .dropdownWorkSet, .home #mainContent .content .workFlowComponents .InProgress .items .item .itemControl .dropdownWorkSetTest, .home #mainContent .content .workFlowComponents .Completed .items .item .itemControl .dropdownWorkSet, .home #mainContent .content .workFlowComponents .Completed .items .item .itemControl .dropdownWorkSetTest {
          position: absolute;
          display: flex;
          flex-direction: column;
          margin: -30px 10px;
          right: 25px;
          z-index: 99;
          background-color: white;
          outline: 1px solid #D4D8E3; }
          .home #mainContent .content .workFlowComponents .toDo .items .item .itemControl .dropdownWorkSet button, .home #mainContent .content .workFlowComponents .toDo .items .item .itemControl .dropdownWorkSetTest button, .home #mainContent .content .workFlowComponents .InProgress .items .item .itemControl .dropdownWorkSet button, .home #mainContent .content .workFlowComponents .InProgress .items .item .itemControl .dropdownWorkSetTest button, .home #mainContent .content .workFlowComponents .Completed .items .item .itemControl .dropdownWorkSet button, .home #mainContent .content .workFlowComponents .Completed .items .item .itemControl .dropdownWorkSetTest button {
            margin: 5px;
            outline: none;
            border: none;
            background-color: transparent; }
          .home #mainContent .content .workFlowComponents .toDo .items .item .itemControl .dropdownWorkSet button:hover, .home #mainContent .content .workFlowComponents .toDo .items .item .itemControl .dropdownWorkSetTest button:hover, .home #mainContent .content .workFlowComponents .InProgress .items .item .itemControl .dropdownWorkSet button:hover, .home #mainContent .content .workFlowComponents .InProgress .items .item .itemControl .dropdownWorkSetTest button:hover, .home #mainContent .content .workFlowComponents .Completed .items .item .itemControl .dropdownWorkSet button:hover, .home #mainContent .content .workFlowComponents .Completed .items .item .itemControl .dropdownWorkSetTest button:hover {
            transition: 1s;
            box-shadow: 1px 1px 30px 0px rgba(50, 50, 50, 0.75); }

@media screen and (max-width: 1200px) {
  .home #mainContent .content .workFlowComponents .toDo .addItem, .home #mainContent .content .workFlowComponents .InProgress .addItem, .home #mainContent .content .workFlowComponents .Completed .addItem {
    left: 0;
    margin-left: 30px; } }
