<section id="connect">
    <div class="connect-block container">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <header>
                <h3>Connect us</h3>
            </header>
            <div class="info">
                <div class="item">
                    <i class="icon-call-out"></i>
                    <div>
                        <span>Call Us</span>
                        <span>+885 6586 5554</span>
                    </div>
                </div>
                <div class="item">
                    <i class="icon-envelope-open"></i>
                    <div>
                        <span>Email</span>
                        <span>info@consultplus.com</span>
                    </div>
                </div>
                <div class="item">
                    <i class="icon-location-pin"></i>
                    <div>
                        <span>Address</span>
                        <span>Department 98 <br>
                            44-46 Morningside Road <br>
                            Edinburgh, Scotland</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="google-map">
                <img src="img/contact/map.fw.png" alt="map">
            </div>
        </div>
    </div>
</section>
<section id="write">
    <div class="write-block container">
        <header>
            <h3>Write to Us</h3>
        </header>
        <div class="form">
            <form>
                <div class="inputs">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"><input type="text" placeholder="name"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"><input type="text" placeholder="email"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"><input type="text" placeholder="phone"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"><input type="text" placeholder="sevice"></div>
                    <div class="col-12"><textarea name="" id="" cols="30" rows="5" class="col-12"></textarea></div>      
                </div>
                <button>Submit Now</button>
            </form>
        </div>
    </div>
</section>