/* Main SASS */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body {
  background: url(../img/main-bg.fw.png) no-repeat 100% 100%;
  background-size: cover;
  height: 100%; }

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0D1935; }
  nav .logo {
    margin-left: 45px; }
  nav .items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 24px; }
    nav .items .active {
      border-bottom: 10px solid #5583FF;
      margin-bottom: -10px; }
    nav .items .item {
      padding: 55px;
      box-sizing: border-box;
      display: flex; }
      nav .items .item a {
        margin: 20px;
        color: white; }
      nav .items .item a:hover {
        text-decoration: none; }
      nav .items .item a:visited {
        text-decoration: none; }
      nav .items .item a:focus {
        text-decoration: none; }
    nav .items .item:hover {
      border-bottom: 10px solid #5583FF;
      margin-bottom: -10px; }

/* login block */
.loginBlock .formBlock, .regBlock .formBlock {
  background-color: #F5F7F9; }
  .loginBlock .formBlock header, .regBlock .formBlock header {
    text-align: center;
    padding: 90px 0; }
    .loginBlock .formBlock header h3, .regBlock .formBlock header h3 {
      font-size: 48px;
      font-weight: 400;
      color: #8391AF;
      font-family: 'Roboto', sans-serif; }
      .loginBlock .formBlock header h3 a, .regBlock .formBlock header h3 a {
        color: #5383FF; }
      .loginBlock .formBlock header h3 a:hover, .regBlock .formBlock header h3 a:hover {
        text-decoration: none; }
  .loginBlock .formBlock .formBlockContent .form, .regBlock .formBlock .formBlockContent .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .loginBlock .formBlock .formBlockContent .form .input, .regBlock .formBlock .formBlockContent .form .input {
      margin-top: 50px;
      display: flex;
      justify-content: center; }
      .loginBlock .formBlock .formBlockContent .form .input i, .regBlock .formBlock .formBlockContent .form .input i {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 99;
        color: #5583FF; }
      .loginBlock .formBlock .formBlockContent .form .input input, .regBlock .formBlock .formBlockContent .form .input input {
        border: none;
        outline: 0;
        border-bottom: 1px solid #8391AF;
        background-color: #F5F7F9; }
      .loginBlock .formBlock .formBlockContent .form .input input[type=text], .loginBlock .formBlock .formBlockContent .form .input input[type=password], .regBlock .formBlock .formBlockContent .form .input input[type=text], .regBlock .formBlock .formBlockContent .form .input input[type=password] {
        padding-left: 40px;
        color: #8391AF;
        font-size: 24px;
        font-family: 'Roboto', sans-serif; }
      .loginBlock .formBlock .formBlockContent .form .input ::-webkit-input-placeholder, .regBlock .formBlock .formBlockContent .form .input ::-webkit-input-placeholder {
        color: #8391AF;
        font-size: 24px;
        font-family: 'Roboto', sans-serif; }
      .loginBlock .formBlock .formBlockContent .form .input ::-webkit-input-placeholder-shown, .regBlock .formBlock .formBlockContent .form .input ::-webkit-input-placeholder-shown {
        height: 50px; }
    .loginBlock .formBlock .formBlockContent .form button, .regBlock .formBlock .formBlockContent .form button {
      position: relative;
      width: 370px;
      padding: 25px;
      text-align: center;
      border: none;
      background-color: #5583FF;
      border-radius: 50px;
      font-size: 24px;
      font-weight: 700;
      color: white;
      margin-top: 120px;
      margin-bottom: 100px; }
      .loginBlock .formBlock .formBlockContent .form button i, .regBlock .formBlock .formBlockContent .form button i {
        position: absolute;
        margin-top: 6px;
        right: 20px; }

/*topMenu*/
#topMenu {
  width: 100%; }
  #topMenu .topMenuBlock {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF; }
    #topMenu .topMenuBlock .navigation {
      display: flex;
      flex-direction: row;
      align-items: center; }
      #topMenu .topMenuBlock .navigation .sideMenu {
        cursor: pointer; }
      #topMenu .topMenuBlock .navigation i {
        color: #0E1A35; }
    #topMenu .topMenuBlock .navigation > * {
      margin: 25px; }
    #topMenu .topMenuBlock .userProfile {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
      #topMenu .topMenuBlock .userProfile i {
        color: #0E1A35; }
      #topMenu .topMenuBlock .userProfile .addProject {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 178px;
        height: 48px;
        text-align: center;
        border: none;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 700;
        color: white;
        background-color: #5583FF; }
        #topMenu .topMenuBlock .userProfile .addProject i {
          font-size: 16px;
          color: #80A2FF; }
    #topMenu .topMenuBlock .userProfile > * {
      margin: 35px 25px; }

/*side menu*/
#SideMenu {
  background-color: #0D1935; }
  #SideMenu .SideMenuBlock {
    width: 20vw;
    display: flex;
    flex-direction: column; }
    #SideMenu .SideMenuBlock .logo {
      height: 100px;
      background-color: #0D1935;
      display: flex;
      align-items: center;
      justify-content: center; }
    #SideMenu .SideMenuBlock .item {
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #0D1935;
      font-size: 24px;
      font-weight: 600;
      color: white; }
      #SideMenu .SideMenuBlock .item i {
        margin-left: 50px;
        margin-right: 15px;
        color: #5384FF; }
    #SideMenu .SideMenuBlock .item:hover {
      background-color: #112042;
      border-left: 10px solid #5583FF; }
      #SideMenu .SideMenuBlock .item:hover i {
        margin-left: 40px; }

@media screen and (max-width: 1200px) {
  #SideMenu {
    top: 120px;
    position: absolute;
    z-index: 999;
    opacity: 0.99; }
    #SideMenu .SideMenuBlock {
      width: 100vw; } }

/* home */
.home {
  display: flex; }
  .home #mainContent {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .home #mainContent .content {
      display: flex;
      flex-direction: column;
      background-color: #F6F7FA; }
      .home #mainContent .content .title {
        margin: 45px; }
      .home #mainContent .content .homeComponents {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .home #mainContent .content .homeComponents .homeComponentsFooter {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap; }
  .home .messages, .home .activity, .home .tasks {
    width: 30%;
    background-color: white;
    margin: 20px 0 20px 40px; }
    .home .messages .header, .home .activity .header, .home .tasks .header {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .home .messages .items .item, .home .activity .items .item, .home .tasks .items .item {
      display: flex;
      flex-direction: row; }

@media screen and (max-width: 1200px) {
  .home .messages, .home .activity, .home .tasks {
    width: 90%; } }

/* sales */
.sales {
  display: flex;
  flex-direction: column;
  margin: 40px 20px 20px 40px;
  background-color: white; }
  .sales .header {
    height: 120px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .sales .result {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .sales .result img {
      width: 100%; }

/* report */
.report {
  display: flex;
  flex-direction: column;
  margin: 40px 20px 20px 20px;
  background-color: white; }
  .report .header {
    height: 120px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .report .result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .report .result .graph {
      width: 100%; }
      .report .result .graph img {
        width: 100%; }

@media screen and (max-width: 1200px) {
  .report {
    margin-left: 40px; } }

/* all buttons */
