/* Main SASS */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body {
  background: url(../img/main-bg.fw.png) no-repeat 100% 100%;
  background-size: cover;
  height: 100%; }

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0D1935; }
  nav .logo {
    margin-left: 45px; }
  nav .items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 24px; }
    nav .items .active {
      border-bottom: 10px solid #5583FF;
      margin-bottom: -10px; }
    nav .items .item {
      padding: 55px;
      box-sizing: border-box;
      display: flex; }
      nav .items .item a {
        margin: 20px;
        color: white; }
      nav .items .item a:hover {
        text-decoration: none; }
      nav .items .item a:visited {
        text-decoration: none; }
      nav .items .item a:focus {
        text-decoration: none; }
    nav .items .item:hover {
      border-bottom: 10px solid #5583FF;
      margin-bottom: -10px; }

/* login block */
.loginBlock .formBlock, .regBlock .formBlock {
  background-color: #F5F7F9; }
  .loginBlock .formBlock header, .regBlock .formBlock header {
    text-align: center;
    padding: 90px 0; }
    .loginBlock .formBlock header h3, .regBlock .formBlock header h3 {
      font-size: 48px;
      font-weight: 400;
      color: #8391AF;
      font-family: 'Roboto', sans-serif; }
      .loginBlock .formBlock header h3 a, .regBlock .formBlock header h3 a {
        color: #5383FF; }
      .loginBlock .formBlock header h3 a:hover, .regBlock .formBlock header h3 a:hover {
        text-decoration: none; }
  .loginBlock .formBlock .formBlockContent .form, .regBlock .formBlock .formBlockContent .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .loginBlock .formBlock .formBlockContent .form .input, .regBlock .formBlock .formBlockContent .form .input {
      margin-top: 50px;
      display: flex;
      justify-content: center; }
      .loginBlock .formBlock .formBlockContent .form .input i, .regBlock .formBlock .formBlockContent .form .input i {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 99;
        color: #5583FF; }
      .loginBlock .formBlock .formBlockContent .form .input input, .regBlock .formBlock .formBlockContent .form .input input {
        border: none;
        outline: 0;
        border-bottom: 1px solid #8391AF;
        background-color: #F5F7F9; }
      .loginBlock .formBlock .formBlockContent .form .input input[type=text], .loginBlock .formBlock .formBlockContent .form .input input[type=password], .regBlock .formBlock .formBlockContent .form .input input[type=text], .regBlock .formBlock .formBlockContent .form .input input[type=password] {
        padding-left: 40px;
        color: #8391AF;
        font-size: 24px;
        font-family: 'Roboto', sans-serif; }
      .loginBlock .formBlock .formBlockContent .form .input ::-webkit-input-placeholder, .regBlock .formBlock .formBlockContent .form .input ::-webkit-input-placeholder {
        color: #8391AF;
        font-size: 24px;
        font-family: 'Roboto', sans-serif; }
      .loginBlock .formBlock .formBlockContent .form .input ::-webkit-input-placeholder-shown, .regBlock .formBlock .formBlockContent .form .input ::-webkit-input-placeholder-shown {
        height: 50px; }
    .loginBlock .formBlock .formBlockContent .form button, .regBlock .formBlock .formBlockContent .form button {
      position: relative;
      width: 370px;
      padding: 25px;
      text-align: center;
      border: none;
      background-color: #5583FF;
      border-radius: 50px;
      font-size: 24px;
      font-weight: 700;
      color: white;
      margin-top: 120px;
      margin-bottom: 100px; }
      .loginBlock .formBlock .formBlockContent .form button i, .regBlock .formBlock .formBlockContent .form button i {
        position: absolute;
        margin-top: 6px;
        right: 20px; }

/*topMenu*/
#topMenu {
  width: 100%; }
  #topMenu .topMenuBlock {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF; }
    #topMenu .topMenuBlock .navigation {
      display: flex;
      flex-direction: row;
      align-items: center; }
      #topMenu .topMenuBlock .navigation .sideMenu {
        cursor: pointer; }
      #topMenu .topMenuBlock .navigation i {
        color: #0E1A35; }
    #topMenu .topMenuBlock .navigation > * {
      margin: 25px; }
    #topMenu .topMenuBlock .userProfile {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
      #topMenu .topMenuBlock .userProfile i {
        color: #0E1A35; }
      #topMenu .topMenuBlock .userProfile .addProject {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 178px;
        height: 48px;
        text-align: center;
        border: none;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 700;
        color: white;
        background-color: #5583FF; }
        #topMenu .topMenuBlock .userProfile .addProject i {
          font-size: 16px;
          color: #80A2FF; }
    #topMenu .topMenuBlock .userProfile > * {
      margin: 35px 25px; }

/*side menu*/
#SideMenu {
  background-color: #0D1935; }
  #SideMenu .SideMenuBlock {
    width: 20vw;
    display: flex;
    flex-direction: column; }
    #SideMenu .SideMenuBlock .logo {
      height: 100px;
      background-color: #0D1935;
      display: flex;
      align-items: center;
      justify-content: center; }
    #SideMenu .SideMenuBlock .item {
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #0D1935;
      font-size: 24px;
      font-weight: 600; }
      #SideMenu .SideMenuBlock .item a {
        color: white; }
      #SideMenu .SideMenuBlock .item i {
        margin-left: 50px;
        margin-right: 15px;
        color: #5384FF; }
    #SideMenu .SideMenuBlock .item:hover {
      background-color: #112042;
      border-left: 10px solid #5583FF; }
      #SideMenu .SideMenuBlock .item:hover i {
        margin-left: 40px; }

@media screen and (max-width: 1200px) {
  #SideMenu {
    top: 120px;
    position: absolute;
    z-index: 999;
    opacity: 0.99; }
    #SideMenu .SideMenuBlock {
      width: 100vw; } }

/* home */
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #0D1935;
  opacity: .99;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center; }

#page-preloader .spinner img {
  opacity: 0.5; }

.home {
  display: flex; }
  .home .title h2 {
    color: #0D1935;
    font-size: 48px; }
  .home #mainContent {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .home #mainContent .content {
      display: flex;
      flex-direction: column;
      background-color: #F6F7FA; }
      .home #mainContent .content .title {
        margin: 45px; }
      .home #mainContent .content .homeComponents {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .home #mainContent .content .homeComponents .homeComponentsFooter {
          width: 100%; }
  .home .messages, .home .activity, .home .tasks {
    width: 30%;
    background-color: white;
    margin: 20px 0 20px 40px;
    display: flex;
    flex-direction: column; }
    .home .messages .header, .home .activity .header, .home .tasks .header {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .home .messages .items, .home .activity .items, .home .tasks .items {
      display: flex;
      flex-direction: column; }
      .home .messages .items .item, .home .activity .items .item, .home .tasks .items .item {
        display: flex;
        flex-direction: row; }

@media screen and (max-width: 1200px) {
  .home .sales, .home .report, .home .messages, .home .activity, .home .tasks {
    width: 100%;
    margin: 0;
    padding: 0; } }

/* sales */
.sales {
  display: flex;
  flex-direction: column;
  margin: 40px 20px 20px 40px;
  background-color: white;
  outline: 1px solid #D4D8E3; }
  .sales .header {
    height: 120px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .sales .header h3 {
      font-size: 36px;
      font-weight: 600;
      color: #8391AF; }
    .sales .header button {
      padding: 15px 25px;
      background-color: #FF3975;
      border: none;
      border-radius: 25px 25px 25px 25px;
      color: #0D1935;
      font-size: 14px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center; }
      .sales .header button span {
        color: #8391AF;
        font-size: 14px; }
      .sales .header button i {
        margin-left: 40px;
        color: #8391AF; }
  .sales .result {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .sales .result img {
      width: 100%; }
    .sales .result ul {
      font-size: 20px;
      color: #8391AF; }

/* activity */
.activity {
  padding: 0;
  outline: 1px solid #D4D8E3; }
  .activity .header {
    margin: 20px; }
    .activity .header h3 {
      color: #0D1935;
      font-size: 24px;
      font-weight: 600; }
    .activity .header .activityCount {
      display: flex;
      flex-direction: row; }
      .activity .header .activityCount .actCount {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #5383FF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: white;
        margin: 5px; }
  .activity .items .item {
    border-bottom: 1px solid #D4D8E3; }
    .activity .items .item .preview {
      margin: 25px;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: #5383FF;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: white; }
    .activity .items .item .description {
      margin: 17px 0;
      font-size: 14px; }
      .activity .items .item .description .activityData {
        font-size: 14px;
        color: #8391AF; }
      .activity .items .item .description p {
        color: #0D1935;
        font-weight: 700; }
      .activity .items .item .description span {
        font-size: 14px;
        color: #8391AF;
        font-weight: 400; }
  .activity .items .item:first-child {
    border-top: 1px solid #D4D8E3; }
  .activity .items .item:last-child {
    border-bottom: none; }

/* tasks */
.tasks {
  padding: 0;
  outline: 1px solid #D4D8E3; }
  .tasks .header {
    margin: 20px; }
    .tasks .header h3 {
      color: #0D1935;
      font-size: 24px;
      font-weight: 600; }
    .tasks .header .taskCounts {
      display: flex;
      flex-direction: row; }
      .tasks .header .taskCounts .taskFree, .tasks .header .taskCounts .taskDelete {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #5383FF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: white;
        margin: 5px; }
      .tasks .header .taskCounts .taskDelete {
        background-color: #F73B7B; }
  .tasks .items .item {
    border-bottom: 1px solid #D4D8E3; }
    .tasks .items .item .preview {
      margin: 25px;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: #5383FF;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: white; }
    .tasks .items .item .description {
      margin: 25px 0;
      width: 60%;
      font-size: 14px; }
      .tasks .items .item .description p {
        color: #0D1935;
        font-size: 20px; }
      .tasks .items .item .description .free {
        color: #8391AF; }
      .tasks .items .item .description .delete {
        color: #F73B7B; }
    .tasks .items .item .itemControl {
      margin: 25px;
      width: 10%; }
  .tasks .items .item:first-child {
    border-top: 1px solid #D4D8E3; }
  .tasks .items .item:last-child {
    border-bottom: none; }

/* report */
.report {
  display: flex;
  flex-direction: column;
  margin: 40px 20px 20px 20px;
  background-color: white;
  outline: 1px solid #D4D8E3; }
  .report .header {
    height: 120px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .report .header h3 {
      font-size: 36px;
      font-weight: 600;
      color: #8391AF; }
    .report .header button {
      padding: 15px 25px;
      background-color: #FF3975;
      border: none;
      border-radius: 25px 25px 25px 25px;
      color: #0D1935;
      font-size: 14px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center; }
      .report .header button span {
        color: #8391AF;
        font-size: 14px; }
      .report .header button i {
        margin-left: 40px;
        color: #8391AF; }
  .report .result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .report .result .graph {
      width: 100%; }
      .report .result .graph img {
        width: 100%; }

@media screen and (max-width: 1200px) {
  .report {
    margin-left: 40px; } }

/* message */
.messages {
  padding: 0;
  outline: 1px solid #D4D8E3; }
  .messages .header {
    margin: 20px; }
    .messages .header h3 {
      color: #0D1935;
      font-size: 24px;
      font-weight: 600; }
    .messages .header .messageCout {
      display: flex;
      flex-direction: row; }
      .messages .header .messageCout .noReadMessage {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #5383FF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: white;
        margin: 5px; }
  .messages .items .item {
    border-bottom: 1px solid #D4D8E3; }
    .messages .items .item .preview {
      margin: 25px;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: #5383FF;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: white; }
    .messages .items .item .description {
      margin: 17px 0;
      font-size: 14px; }
      .messages .items .item .description .avtorName {
        font-weight: 700; }
        .messages .items .item .description .avtorName .messageData {
          color: #8391AF; }
      .messages .items .item .description p {
        color: #0D1935;
        font-size: 14px; }
      .messages .items .item .description .messageControl {
        display: flex;
        flex-direction: row;
        align-items: flex-start; }
  .messages .items .read {
    background-color: #F4F5F8; }
  .messages .items .item:first-child {
    border-top: 1px solid #D4D8E3; }
  .messages .items .item:last-child {
    border-bottom: none; }

/* all buttons */
