nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0D1935; }
  nav .logo {
    margin-left: 45px; }
  nav .items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 24px; }
    nav .items .active {
      border-bottom: 10px solid #5583FF;
      margin-bottom: -10px; }
    nav .items .item {
      padding: 55px;
      box-sizing: border-box;
      display: flex; }
      nav .items .item a {
        margin: 20px;
        color: white; }
      nav .items .item a:hover {
        text-decoration: none; }
      nav .items .item a:visited {
        text-decoration: none; }
      nav .items .item a:focus {
        text-decoration: none; }
    nav .items .item:hover {
      border-bottom: 10px solid #5583FF;
      margin-bottom: -10px; }
