/* css for all page */
/* preloader */
$h-font: #33393B;
$p-font: #828A8C;
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 99;
}
#page-preloader .spinner {
}
/* all section */
section {
    h3,h4 {
        font-family: 'Montserrat', sans-serif;
        color: $h-font;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
    }
    h4 {
        font-size: 18px;
    }
    p,span,ul {
        font-family: 'Domine', serif;
        color: $p-font;
        font-size: 15px;
        line-height: 1.87;
    }
    button {
        font-family: 'Montserrat', sans-serif;
        border-radius: 20px;
        text-transform: uppercase;
    }
    button:focus {
        outline: none;
    }
}