/*OUR-NEWS*/
/* line 2, ../../sass/section/our-news.scss */
#our-news {
  background-color: #c8c8c8;
  width: 100vw;
}
/* line 5, ../../sass/section/our-news.scss */
#our-news .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 10, ../../sass/section/our-news.scss */
#our-news .title h2 {
  margin: 80px 0 80px 0;
}
/* line 14, ../../sass/section/our-news.scss */
#our-news button {
  width: 180px;
  height: 55px;
  border-radius: 25px;
  border: none;
  color: #4D5158;
  background-color: white;
  margin-bottom: 140px;
}

@media screen and (max-width: 1170px) {
  /* line 26, ../../sass/section/our-news.scss */
  #our-news img {
    width: 90vw;
  }
  /* line 29, ../../sass/section/our-news.scss */
  #our-news h3 {
    font-size: 40px;
  }
  /* line 32, ../../sass/section/our-news.scss */
  #our-news p {
    font-size: 25px;
  }
}
@media screen and (max-width: 360px) {
  /* line 40, ../../sass/section/our-news.scss */
  #our-news {
    width: 500px;
    margin: 0 auto;
  }
}
