<!-- about -->
<section id="about">
    <header>
        <h3>About us</h3>
    </header>
    <article>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum <br>
        has been the industry's standard dummy text ever since the 1500s, when an unknown printer <br>
        took a galley of type and scrambled.</p>
    </article>
    <button>Read More</button>
    <hr>
    <footer>
        <div class="footer-block container">
            
            <div class="siema items">
                <div class="item"><img src="img/about/slider/1.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/2.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/3.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/4.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/5.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/1.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/2.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/3.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/4.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/5.fw.png" alt="slider-img"> </div>
            </div>
            <div class="prev"></div>
            <div class="next"></div>
        </div>
    </footer>
</section>