<!-- about -->
<section id="about">
    <header>
        <h3>About us</h3>
    </header>
    <article>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum <br>
        has been the industry's standard dummy text ever since the 1500s, when an unknown printer <br>
        took a galley of type and scrambled.</p>
    </article>
    <button>Read More</button>
    <div class="container">
        <hr>
    </div>  
     
    <div class="container">
        <div class="slider-slick" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
                <div class="item"><img src="img/about/slider/1.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/2.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/3.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/4.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/5.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/1.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/2.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/3.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/4.fw.png" alt="slider-img"> </div>
                <div class="item"><img src="img/about/slider/5.fw.png" alt="slider-img"> </div>
            </div>
        </div>
    </div>


</section>