<!-- blog -->
<section id="blog">
    <header>
        <h3>Our Blog</h3>
    </header>
    <div class="blog-block container">
        <div class="content">
            <div class="col-6">
                <article>
                    <header>
                        <h4>Blog Heading here</h4>
                    </header>
                    <p>Established fact that a reader will be distracted by the readable of a page when looking at its layout...</p>
                </article>
            </div>
            <div class="col-6">
                <article>
                    <header>
                        <h4>Blog Heading here</h4>
                    </header>
                    <p>Established fact that a reader will be distracted by the readable of a page when looking at its layout...</p>
                </article>
            </div>
        </div>    
    </div>
    <button>Full Blog</button>
</section>