<section id="contact">
    <div class="contact-block">
        <header>
            <h3>Quick contact</h3>
        </header>
        <div class="items container">
            <div class="item col-sm-12 col-xl-4">
                <img src="img/contact/1.fw.png" alt="">
                <div class="description">
                    <span class="titlte">Email</span>
                    <span class="email">info@consultplus.com</span>
                </div>

            </div> 
            <div class="item col-sm-12 col-xl-4"> 
                <img src="img/contact/2.fw.png" alt="">
                <div class="description">
                    <span class="titlte">Call Us</span>
                    <span class="email">+91 8879 8767 990</span>
                </div>
            </div>
            <div class="item col-sm-12 col-xl-4">
                <img src="img/contact/3.fw.png" alt="">
                    <div class="description">
                        <span class="titlte">Career</span>
                        <span class="email">consult@career.com</span>
                    </div>
            </div>   
        </div>
    </div>
</section>