<footer>
    <div class="footer-block">
        <div class="items">
            <div class="col-4">1</div>
            <div class="col-2">2</div>
            <div class="col-2">3</div>
            <div class="col-4">4</div>
        </div>
        <hr>
        <div class="social-block">
            <div class="cop">
                <span>Copyright © 2016 Consultplus theme.</span>
            </div>
            <div class="items">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
    </div>
</footer>