<header>
   <div class="header-block container">
       <div class="logo">
           <img src="img/logo.fw.png" alt="logo">
       </div>
       <nav>
           <div class="item"><a href="home.html">home</a></div>
           <div class="item"><a href="about.html">about us</a></div>
           <div class="item"><a href="industary.html">industry</a></div>
           <div class="item"><a href="career.html">services</a></div>
           <div class="item"><a href="blog.html">pages</a></div>
           <div class="item"><a href="contact.html">Contact us</a></div>
           <div class="item">
               <div class="circle">
                   <i class="icon-call-out"></i>
               </div>
               <span>+91 5685 6664 555</span>
               <div class="circle">
                   <i class="icon-envelope-open"></i>
               </div>    
           </div>
       </nav>
   </div>
</header>