<header>
    <div class="header-block container">
        <div class="logo">
            <img src="img/logo.fw.png" alt="logo">
        </div>
        <nav>
            <div class="item"><a href="home.html">home</a></div>
            <div class="item"><a href="about.html">about us</a></div>
            <div class="item"><a href="">industry</a></div>
            <div class="item"><a href="">services</a></div>
            <div class="item"><a href="">pages</a></div>
            <div class="item"><a href="">Contact us</a></div>
            <div class="item">
                <div class="circle">
                    <i class="icon-call-out"></i>
                </div>
                <span>+91 5685 6664 555</span>
                <div class="circle">
                    <i class="icon-envelope-open"></i>
                </div>    
            </div>
        </nav>
    </div>
</header>