<!-- projects -->
<section id="projects">
    <header>
        <h3>Projects</h3>
    </header>
    <div class="project-block container">
        <div class="col-4">
            <div class="content">
                <div class="preview">
                    <button>Banking</button>
                </div>
                <article>
                    <header>
                        <h4>Project Heading</h4>
                    </header>
                    <p>Popularised in the 1960s with the release <br>
                    Letraset sheets containing Lorem.</p>
                </article>
            </div>
        </div>
        <div class="col-8">
            <div class="content">
                <div class="slider">
                    <div id="demo-2" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <div class="carousel-indicators">
                            <div data-target="#demo-2" data-slide-to="0" class="active"></div>
                            <div data-target="#demo-2" data-slide-to="1"></div>
                            <div data-target="#demo-2" data-slide-to="2"></div>
                        </div>
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="carousel-caption">
                                    <button>Real Estate</button>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <button>Real Estate</button>
                                </div>                          
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <button>Real Estate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <article>
                    <header>
                        <h4>Project Heading</h4>
                    </header>
                    <p>Popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum <br>
                    passages. fact that a reader will be distracted by the readable of a page when.</p>
                </article>
            </div>
            <hr>
        </div>       
    </div>
    <button>Full Projects</button>
</section>