<!-- testimonials -->
<section id="testimonials">
    <div class="testimonials-block container">
        <article>
            <header>
                <h3>Testimonials</h3>
            </header>
            <div class="circle"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard <br>
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type speci <br>
            book. It has survived not only five centuries, but also the leap into electronic typesetting.
            unchanged.</p>
        </article>
        <div>
            <svg height="5" width="20">
                <line x1="0" y1="0" x2="200" y2="0" style="stroke:#FFFFFF;stroke-width:2" />
            </svg>
            <span class="name">Client Name</span>
            <span class="design">Designation</span>
        </div>
    </div>
</section>