<!-- welcome -->

<section id="welcome">
        
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <div data-target="#demo" data-slide-to="0" class="active"></div>
                <div data-target="#demo" data-slide-to="1"></div>
                <div data-target="#demo" data-slide-to="2"></div>
            </div>
            
            <!-- The slideshow -->
            <div class="carousel-inner">
                
                <div class="welcome-block container">
                    //= header.html
                    <h2>We are leading consulting company</h2>
                    <h1>Choose your industry</h1>
                    <div class="items container">
                        <div class="item">
                            <img src="img/welcome/1.fw.png" alt="">
                            <span>Education</span>
                        </div>
                        <div class="item">
                            <img src="img/welcome/2.fw.png" alt="">
                            <span>Business</span>
                        </div>
                        <div class="item">
                            <img src="img/welcome/3.fw.png" alt="">
                            <span>Technology</span>
                        </div>
                        <div class="item">
                            <img src="img/welcome/4.fw.png" alt="">
                            <span>Education</span>
                        </div>
                    </div>
                </div>

                <div class="carousel-item active">
                
                </div>
                <div class="carousel-item">
                
                </div>
                <div class="carousel-item">
                
                </div>
            </div>
        </div>
</section>