/*topMenu*/
.ui.active.modal {
    height: 200px;
    .positive {
        background-color: #5583FF;
    }
}
#topMenu {
    width: 100%;
    .topMenuBlock {   
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        .navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
            .sideMenu {
                cursor: pointer;

            }
            .search {
                .testSearch {
                    i {
                        margin: 0;
                    }

                }
            }
            i {     
                color: #0E1A35;
                cursor: pointer;
            }
        }
        .navigation > * {
            margin: 25px;
        }
        .userProfile {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            i {
                color: #0E1A35;
            }   
            .addProject {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 178px;
                height: 48px;
                text-align: center;
                border: none;
                border-radius: 50px;
                font-size: 18px;
                font-weight: 700;
                color: white;
                background-color: #5583FF;
                i {
                    font-size: 16px;
                    color: #80A2FF;
                }
            }
            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .dropdownMenu {
                display: flex;
                justify-content: center;
                .dropBtn {
                    outline: none;
                    border: none;
                    background-color: transparent;
                }
                .dropdownContent {
                    z-index: 99;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    right: 0;
                    margin: 25px;
                    margin-top: 75px;
                    width: 160px;
                    background-color: white;
                    outline: 1px solid #D4D8E3;
                    button {
                        width: 100px;
                        margin: 15px;
                        outline: none;
                        border: none;
                        background-color: transparent;
                    }
                    button:hover {
                        transition: 1s;
                        box-shadow: 1px 1px 30px 0px rgba(50, 50, 50, 0.75);
                    }
                }
            }
        }
        .userProfile > * {
            margin: 35px 25px;
        }
        
    }
}

@media screen and (max-width:1200px) {
    #topMenu {
        .topMenuBlock {
            .navigation {
                
                .sideMenu {
                    margin: 25px 0 25px 25px;
                }
                .search {
                    margin: 25px 0 25px 5px;
                }
                .dropdownMenu {
                    display: flex;
                    align-self: flex-end;
                }
            }
            .userProfile {
                width: 100%;
                justify-content: flex-end;
                .addProject {
                    width: 140px;
                    font-size: 12px;
                }
                
            }
            .userProfile > * {
                margin: 0 2%;

            }
        }
    }
}
@media screen and (max-width:600px) {
    #topMenu {
        .topMenuBlock {
            .navigation {
            }
            .userProfile {
                width: 100px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .addProject {
                    display: none;
                }
                .dropdownMenu {
                    width: 10px;
                    img {
                        display: none;
                    }
                }
                
            }
        }
    }

}