/*topMenu*/
.ui.active.modal {
  height: 200px; }
  .ui.active.modal .positive {
    background-color: #5583FF; }

#topMenu {
  width: 100%; }
  #topMenu .topMenuBlock {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF; }
    #topMenu .topMenuBlock .navigation {
      display: flex;
      flex-direction: row;
      align-items: center; }
      #topMenu .topMenuBlock .navigation .sideMenu {
        cursor: pointer; }
      #topMenu .topMenuBlock .navigation i {
        color: #0E1A35; }
    #topMenu .topMenuBlock .navigation > * {
      margin: 25px; }
    #topMenu .topMenuBlock .userProfile {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
      #topMenu .topMenuBlock .userProfile i {
        color: #0E1A35; }
      #topMenu .topMenuBlock .userProfile .addProject {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 178px;
        height: 48px;
        text-align: center;
        border: none;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 700;
        color: white;
        background-color: #5583FF; }
        #topMenu .topMenuBlock .userProfile .addProject i {
          font-size: 16px;
          color: #80A2FF; }
      #topMenu .topMenuBlock .userProfile .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%; }
      #topMenu .topMenuBlock .userProfile .dropdownMenu {
        display: flex;
        justify-content: center; }
        #topMenu .topMenuBlock .userProfile .dropdownMenu .dropBtn {
          outline: none;
          border: none;
          background-color: transparent; }
        #topMenu .topMenuBlock .userProfile .dropdownMenu .dropdownContent {
          z-index: 99;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          right: 0;
          margin: 25px;
          margin-top: 75px;
          width: 160px;
          background-color: white;
          outline: 1px solid #D4D8E3; }
          #topMenu .topMenuBlock .userProfile .dropdownMenu .dropdownContent button {
            width: 100px;
            margin: 15px;
            outline: none;
            border: none;
            background-color: transparent; }
          #topMenu .topMenuBlock .userProfile .dropdownMenu .dropdownContent button:hover {
            transition: 1s;
            box-shadow: 1px 1px 30px 0px rgba(50, 50, 50, 0.75); }
    #topMenu .topMenuBlock .userProfile > * {
      margin: 35px 25px; }

@media screen and (max-width: 1200px) {
  #topMenu .topMenuBlock .navigation .sideMenu {
    margin: 25px 0 25px 25px; }
  #topMenu .topMenuBlock .navigation .search {
    margin: 25px 0 25px 5px; }
  #topMenu .topMenuBlock .navigation .dropdownMenu {
    display: flex;
    align-self: flex-end; }
  #topMenu .topMenuBlock .userProfile {
    width: 100%;
    justify-content: flex-end; }
    #topMenu .topMenuBlock .userProfile .addProject {
      width: 140px;
      font-size: 12px; }
  #topMenu .topMenuBlock .userProfile > * {
    margin: 0 2%; } }
