<section id="comments">
    <div class="comments-block container">
        <div class="item col-sm-12 col-xl-6">
            <header>
                <span>Comments</span>
            </header>
            <div class="mesages">
                <div class="mesage"> 
                    <div class="mesage-block">
                        <div class="face-img"></div>
                        <article>
                            <header>
                                <span class="name">visitor name</span>
                                <button class="reply">Reply</button>
                            </header>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator 
                            on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which</p>
                        </article>
                    </div>
                </div>
                <div class="mesage answer">
                    <div class="mesage-block">
                        <div class="face-img"></div>
                        <article>
                            <header>
                                <span class="name">visitor name</span>
                                <button class="reply">Reply</button>
                            </header>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator 
                            on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which</p>
                        </article>
                    </div>
                </div>
                <div class="mesage">
                    <div class="mesage-block">
                        <div class="face-img"></div>
                        <article>
                            <header>
                                <span class="name">visitor name</span>
                                <button class="reply">Reply</button>
                            </header>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator 
                            on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-sm-12 col-xl-6">
                <header>
                    <span>leave message</span>
                </header>
                <div class="form">
                    <form>
                        <div class="inputs">
                            <input type="text" placeholder="name">
                            <input type="text" placeholder="email">
                            <textarea name="" id="" cols="30" rows="10" placeholder="comment"></textarea>
                        </div>
                        
                        <button>Submit comment</button>                   
                    </form>
                </div>
        </div>
    </div>
</section>
