<section id="posts">
    <div class="posts-block container">
        <header>
            <h2>blog page</h2>
        </header>
        <div class="items">
            <!-- masonry -->
            <!-- 1 -->
            <div class="item">
                <div class="preview">
                    <div class="tegs">
                        <ul>
                            <li>
                                <a href="">Health</a>
                                <i class="icon-tag"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <article>
                    <header>
                        <h3>Blog Heading Here</h3>
                    </header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown.</p>
                    <footer>
                        <div class="data">
                            <i class="icon-clock"></i>
                            <span>5-12-2016</span>
                        </div>
                        <div class="share">
                            <a href="blog-post.html"><i class="icon-share"></i></a>           
                        </div>
                    </footer>
                </article>   
            </div>
            <!-- 2 -->
            <div class="item">
                <div class="preview">
                    <div class="tegs">
                        <ul>
                            <li>
                                <a href="">Business</a>
                                <i class="icon-tag"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="img"></div>
                </div>
                <article>
                    <header>
                        <h3>Blog Heading Here</h3>
                    </header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown.</p>
                    <footer>
                        <div class="data">
                            <i class="icon-clock"></i>
                            <span>5-12-2016</span>
                        </div>
                        <div class="share">
                            <i class="icon-share"></i>
                        </div>
                    </footer>
                </article>   
            </div>
            <!-- 3 -->
            <div class="item">
                <div class="preview">
                    <div class="tegs">
                        <ul>
                            <li>
                                <a href="">Health</a>
                                <i class="icon-tag"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <article>
                    <header>
                        <h3>Blog Heading Here</h3>
                    </header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown.</p>
                    <footer>
                        <div class="data">
                            <i class="icon-clock"></i>
                            <span>5-12-2016</span>
                        </div>
                        <div class="share">
                            <i class="icon-share"></i>
                        </div>
                    </footer>
                </article>   
            </div>
            <!-- 4 -->
            <div class="item">
                <div class="preview">
                    <div class="tegs">
                        <ul>
                            <li>
                                <a href="">Health</a>
                                <i class="icon-tag"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <article>
                    <header>
                        <h3>Blog Heading Here</h3>
                    </header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown.</p>
                    <footer>
                        <div class="data">
                            <i class="icon-clock"></i>
                            <span>5-12-2016</span>
                        </div>
                        <div class="share">
                            <i class="icon-share"></i>
                        </div>
                    </footer>
                </article>   
            </div>
            <!-- 5 -->
            <div class="item">
                <div class="preview">
                    <div class="tegs">
                        <ul>
                            <li>
                                <a href="">Health</a>
                                <i class="icon-tag"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <article>
                    <header>
                        <h3>Blog Heading Here</h3>
                    </header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown.</p>
                    <footer>
                        <div class="data">
                            <i class="icon-clock"></i>
                            <span>5-12-2016</span>
                        </div>
                        <div class="share">
                            <i class="icon-share"></i>
                        </div>
                    </footer>
                </article>   
            </div>
            <!-- 6 -->
            <div class="item">
                <div class="preview">
                    <div class="tegs">
                        <ul>
                            <li>
                                <a href="">Health</a>
                                <i class="icon-tag"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="img">
                        <img src="img/information/player-2.fw.png" alt="player">
                    </div>
                </div>
                <article>
                    <header>
                        <h3>Blog Heading Here</h3>
                    </header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown.</p>
                    <footer>
                        <div class="data">
                            <i class="icon-clock"></i>
                            <span>5-12-2016</span>
                        </div>
                        <div class="share">
                            <i class="icon-share"></i>
                        </div>
                    </footer>
                </article>   
            </div>
            <!-- 7 -->
            <div class="item">
                <div class="preview">
                    <div class="tegs">
                        <ul>
                            <li>
                                <a href="">Health</a>
                                <i class="icon-tag"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <article>
                    <header>
                        <h3>Blog Heading Here</h3>
                    </header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown.</p>
                    <footer>
                        <div class="data">
                            <i class="icon-clock"></i>
                            <span>5-12-2016</span>
                        </div>
                        <div class="share">
                            <i class="icon-share"></i>
                        </div>
                    </footer>
                </article>   
            </div>
            <!-- 8 -->
            <div class="item">
                <div class="preview">
                    <div class="tegs">
                        <ul>
                            <li>
                                <a href="">Health</a>
                                <i class="icon-tag"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <article>
                    <header>
                        <h3>Blog Heading Here</h3>
                    </header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown.</p>
                    <footer>
                        <div class="data">
                            <i class="icon-clock"></i>
                            <span>5-12-2016</span>
                        </div>
                        <div class="share">
                            <i class="icon-share"></i>
                        </div>
                    </footer>
                </article>   
            </div>
        </div>
        <div class="page-numbers container">
            <ul>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
            </ul>
        </div>
    </div>
</section>
