<section id="post">
    <div class="post-block container">
            <header>
                <h2>blog post</h2>
            </header>
            <div class="post-content">
                <div class="preview">
                    <div class="tegs">
                        <ul>
                            <li>
                                <a href="">Health</a>
                                <i class="icon-tag"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="img"></div>
                </div>
                <article>
                    <header>
                        <h3>Blog Heading Here</h3>
                    </header>
                    <div class="text-block">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        , when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                    <div class="ul-block">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Proin tempus ipsum vitae velit convallis venenatis.</li>
                            <li>Curabitur vel felis pretium, blandit arcu in, sollicitudin ipsum.</li>
                        </ul>
                    </div>
                    <div class="text-block">
                        <img src="img/posts/post/img.fw.png" alt="img">
                        <p>Printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                    <footer>
                        <div class="data"><span>2017</span></div>
                        <div class="share">
                            <ul>
                                <li>
                                    <a href=""><i class="icon-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="">t</a>
                                </li>
                                <li>
                                    <a href="">g</a>
                                </li>
                                <li>
                                    <a href="">s</a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                </article>
                <hr>
            </div>
    </div>
</section>