<section id="related-post">
    <div class="related-post-block container">
        <header>
            <h3>Related Post</h3>
        </header>
        <div class="items">
            <div class="item col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="img"></div>
                <div class="content">
                    <h4>Blog Heading Here</h4>
                    <span>11-feb-2016</span>
                </div>
            </div>
            <div class="item col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="img"></div>
                <div class="content">
                    <h4>Blog Heading Here</h4>
                    <span>11-feb-2016</span>
                </div>
            </div>
            <div class="item col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="img"></div>
                <div class="content">
                    <h4>Blog Heading Here</h4>
                    <span>11-feb-2016</span>
                </div>
            </div>
            <div class="item col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="img"></div>
                <div class="content">
                    <h4>Blog Heading Here</h4>
                    <span>11-feb-2016</span>
                </div>
            </div>
        </div>
    </div>
</section>
