<section id="jobs">
    <div class="jobs-block container">
        <header>
            <h3>New jobs</h3>
        </header>
        <div class="information">
            <ul>
                <li>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span>accountant manager</span>
                        <span>full time</span>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="location">
                            <i class="icon-location-pin"></i>
                            <span>Location : </span>
                            <span>San francisco</span>
                        </div>
                        <button>Apply Now</button>
                    </div>
                </li>
                <li>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span>Computer & information systam manager</span>
                        <span>full time</span>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="location">
                            <i class="icon-location-pin"></i>
                            <span>Location : </span>
                            <span>San francisco</span>
                        </div>
                        <button>Apply Now</button>
                    </div>
                </li>
                <li>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span>sales executive</span>
                        <span>full time</span>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="location">
                            <i class="icon-location-pin"></i>
                            <span>Location : </span>
                            <span>San francisco</span>
                        </div>
                        <button>Apply Now</button>
                    </div>
                </li>
                <li>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <span>education consultants</span>
                        <span>full time</span>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="location">
                            <i class="icon-location-pin"></i>
                            <span>Location : </span>
                            <span>San francisco</span>
                        </div>
                        <button>Apply Now</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="form">
            <form>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4"><input type="text" placeholder="first Name"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4"><input type="text" placeholder="Last Name"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4"><input type="text" placeholder="Email"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4"><input type="text" placeholder="Phone number"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4"><input type="text" placeholder="Location (City)"></div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4"><input type="text" placeholder="Resume/CV"></div>
                    <div class="col-12"><textarea name="" id="" cols="30" rows="10" placeholder="Write your self / copy paste your Resume"></textarea></div>
                    
                
                </div>
                <button type="submit">Submit application</button>
            </form>
        </div>
    </div>
</section>
<section id="partners">
    <div class="container">
        <header>
            <span>Companies we’ve helped</span>
            <span>Lorem Ipsum is simply dummy</span>
        </header>
        <div class="slider-slick" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
            <div class="item"><img src="img/about/slider/1.fw.png" alt="slider-img"> </div>
            <div class="item"><img src="img/about/slider/2.fw.png" alt="slider-img"> </div>
            <div class="item"><img src="img/about/slider/3.fw.png" alt="slider-img"> </div>
            <div class="item"><img src="img/about/slider/4.fw.png" alt="slider-img"> </div>
            <div class="item"><img src="img/about/slider/5.fw.png" alt="slider-img"> </div>
            <div class="item"><img src="img/about/slider/1.fw.png" alt="slider-img"> </div>
            <div class="item"><img src="img/about/slider/2.fw.png" alt="slider-img"> </div>
            <div class="item"><img src="img/about/slider/3.fw.png" alt="slider-img"> </div>
            <div class="item"><img src="img/about/slider/4.fw.png" alt="slider-img"> </div>
            <div class="item"><img src="img/about/slider/5.fw.png" alt="slider-img"> </div>
        </div>
    </div>
</section>