/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
/* line 5, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/main.scss */
body h1, body h2, body h3, body h4, body h5 {
  font-family: 'Roboto Slab', serif;
}
/* line 7, ../sass/main.scss */
body p {
  font-family: 'Roboto', serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.0;
}
/* line 13, ../sass/main.scss */
body h1 {
  font-size: 72px;
  font-weight: 300;
}
/* line 17, ../sass/main.scss */
body .items {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 23, ../sass/main.scss */
body .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
}

@media screen and (max-width: 360px) {
  /* line 33, ../sass/main.scss */
  a {
    display: none;
  }

  /* line 39, ../sass/main.scss */
  .item img {
    width: 100vw;
  }
}
/* HEADER */
/* line 4, ../sass/header.scss */
.header-block {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}
/* line 11, ../sass/header.scss */
.header-block .title {
  font-size: 36px;
  color: #31353D;
  font-weight: bold;
}
/* line 16, ../sass/header.scss */
.header-block span {
  font-size: 16px;
  color: #DD4B2B;
  letter-spacing: 1.2px;
}
/* line 22, ../sass/header.scss */
.header-block .nav {
  font-size: 18px;
  color: #31353D;
}
/* line 25, ../sass/header.scss */
.header-block .nav a {
  text-align: left;
  text-decoration: none;
  color: #31353D;
}
/* line 29, ../sass/header.scss */
.header-block .nav a a:visited {
  color: #31353D;
}
/* line 32, ../sass/header.scss */
.header-block .nav a a:active {
  color: #31353D;
}
/* line 35, ../sass/header.scss */
.header-block .nav a a:hover {
  color: #31353D;
}
/* line 41, ../sass/header.scss */
.header-block .nav .nav-item {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 48, ../sass/header.scss */
.header-block .nav .nav-item:hover {
  height: 50px;
  width: 150px;
  background-color: #DD4B2B;
  border-radius: 25px;
  color: white;
}

@media screen and (max-width: 1170px) {
  /* line 63, ../sass/header.scss */
  a {
    display: none;
  }
}
/*WELCOME*/
/* line 2, ../sass/section/welcome.scss */
#welcome {
  height: 100vh;
  width: 100vw;
  background: url(../img/welcome/main-bg.fw.png) no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* line 11, ../sass/section/welcome.scss */
#welcome .welcome-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 16, ../sass/section/welcome.scss */
#welcome .welcome-block .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
/* line 23, ../sass/section/welcome.scss */
#welcome .welcome-block .title span {
  font-size: 30px;
  font-weight: bold;
}
/* line 29, ../sass/section/welcome.scss */
#welcome .welcome-block button {
  width: 210px;
  height: 55px;
  background-color: white;
  border-radius: 25px;
  border: none;
  color: #612315;
  font-size: 18px;
  margin-bottom: 130px;
}

@media screen and (max-width: 1170px) {
  /* line 44, ../sass/section/welcome.scss */
  #welcome {
    height: auto;
    width: auto;
  }
  /* line 48, ../sass/section/welcome.scss */
  #welcome img {
    width: 80vw;
  }
  /* line 51, ../sass/section/welcome.scss */
  #welcome h3 {
    font-size: 40px;
  }
  /* line 54, ../sass/section/welcome.scss */
  #welcome p {
    font-size: 30px;
  }
}
@media screen and (max-width: 360px) {
  /* line 63, ../sass/section/welcome.scss */
  #welcome, #content, #footer-nav, #our-news, #newsletter {
    width: 500px;
    margin: 0 auto;
  }
}
/*OUR-NEWS*/
/* line 2, ../sass/section/our-news.scss */
#our-news {
  background-color: #c8c8c8;
  width: 100vw;
}
/* line 5, ../sass/section/our-news.scss */
#our-news .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 10, ../sass/section/our-news.scss */
#our-news .title h2 {
  margin: 80px 0 80px 0;
}
/* line 14, ../sass/section/our-news.scss */
#our-news button {
  width: 180px;
  height: 55px;
  border-radius: 25px;
  border: none;
  color: #4D5158;
  background-color: white;
  margin-bottom: 140px;
}

@media screen and (max-width: 1170px) {
  /* line 26, ../sass/section/our-news.scss */
  #our-news img {
    width: 90vw;
  }
  /* line 29, ../sass/section/our-news.scss */
  #our-news h3 {
    font-size: 40px;
  }
  /* line 32, ../sass/section/our-news.scss */
  #our-news p {
    font-size: 25px;
  }
}
@media screen and (max-width: 360px) {
  /* line 40, ../sass/section/our-news.scss */
  #our-news {
    width: 500px;
    margin: 0 auto;
  }
}
/*NEWSLATTER*/
/* line 2, ../sass/section/newsletter.scss */
#newsletter {
  background: url(../img/newsletter/main-bg.png) no-repeat;
  background-size: cover;
  color: white;
}
/* line 7, ../sass/section/newsletter.scss */
#newsletter .newsletter-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
}
/* line 14, ../sass/section/newsletter.scss */
#newsletter .newsletter-block .input {
  position: relative;
  margin-bottom: 110px;
}
/* line 17, ../sass/section/newsletter.scss */
#newsletter .newsletter-block .input ::-webkit-input-placeholder {
  color: #F2F3F5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
/* line 22, ../sass/section/newsletter.scss */
#newsletter .newsletter-block .input input[placeholder] {
  color: #F2F3F5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
/* line 27, ../sass/section/newsletter.scss */
#newsletter .newsletter-block .input input {
  width: 500px;
  height: 55px;
  border: none;
  border-radius: 25px;
}
/* line 34, ../sass/section/newsletter.scss */
#newsletter .newsletter-block .input button {
  border: none;
  background-color: white;
  position: absolute;
  right: 50px;
  top: 15px;
  font-size: 18px;
  color: #612315;
}

/*CONTENT*/
/* line 4, ../sass/section/content.scss */
#content .content-block .items {
  display: flex;
  color: #191B29;
}
/* line 8, ../sass/section/content.scss */
#content .content-block .items .item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 50px 0 50px 0;
}
/* line 13, ../sass/section/content.scss */
#content .content-block .items .item .description {
  text-align: left;
}
/* line 16, ../sass/section/content.scss */
#content .content-block .items .item button {
  width: 210px;
  height: 55px;
  border: none;
  border-radius: 25px;
  background-color: #DD4B2B;
  color: white;
  font-size: 18px;
}
/* line 26, ../sass/section/content.scss */
#content .content-block .items .item:nth-child(2n+1) {
  display: flex;
  flex-direction: row-reverse;
}
/* line 29, ../sass/section/content.scss */
#content .content-block .items .item:nth-child(2n+1) button {
  background-color: #4B4D73;
}

/*FOOTER*/
/* line 2, ../sass/section/footer-nav.scss */
#footer-nav {
  background-color: #D75D0D;
  color: white;
  font-size: 18px;
}

/* line 7, ../sass/section/footer-nav.scss */
.column {
  text-align: center;
  margin: 60px 0 60px 0;
}
/* line 10, ../sass/section/footer-nav.scss */
.column ul li {
  margin: 10px;
}

/* line 14, ../sass/section/footer-nav.scss */
#footer-span {
  margin: 0 auto;
  align-self: center;
}

@media screen and (max-width: 1170px) {
  /* line 19, ../sass/section/footer-nav.scss */
  ul li {
    font-size: 30px;
  }
}
/*FOOTER*/
/* line 2, ../sass/footer.scss */
footer {
  height: 370px;
  background: url(../img/newsletter/main-bg.png) no-repeat;
  background-size: cover;
  color: white;
}
/* line 7, ../sass/footer.scss */
footer div {
  margin: 0 auto;
  padding-top: 90px;
  text-align: center;
}

@media screen and (max-width: 1170px) {
  /* line 15, ../sass/footer.scss */
  span {
    font-size: 25px;
  }
}
@media screen and (max-width: 360px) {
  /* line 20, ../sass/footer.scss */
  footer {
    width: 500px;
    margin: 0 auto;
  }
}
