/* SERVICES */
#services {
    .items {
        .item {
            margin-top: 35px;
            margin-bottom: 35px;
                h3 {
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    font-size: 14px;
                    color: #2D2F33;
                    text-transform: uppercase;
                    margin-top: 35px;
                    margin-bottom: 25px;

                    
                }
                p {
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    color: #6B7179;
                    line-height: 1.5;
                    text-align: center;
                }
        }
    }

}