/* features */
/* line 2, ../sass/features.scss */
#features {
  color: #3B4953;
}
/* line 4, ../sass/features.scss */
#features h3 {
  font-size: 36px;
  text-align: center;
}
/* line 9, ../sass/features.scss */
#features h4 {
  font-size: 24px;
}
/* line 12, ../sass/features.scss */
#features p {
  font-size: 14px;
  text-align: left;
  line-height: 1.71;
  margin: 0;
}
/* line 19, ../sass/features.scss */
#features .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 23, ../sass/features.scss */
#features .items .item {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 450px;
  margin-bottom: 25px;
}
/* line 29, ../sass/features.scss */
#features .items .item img {
  margin: 5px 30px 5px 5px;
}
