/* purchase-now */
/* line 2, ../sass/purchase-now.scss */
#purchase-now {
  background-color: #02baab;
}
/* line 4, ../sass/purchase-now.scss */
#purchase-now .block {
  display: flex;
  align-items: center;
  color: white;
}
/* line 9, ../sass/purchase-now.scss */
#purchase-now .block span {
  margin: 50px 0 50px 0;
  font-size: 24px;
}
