/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Oxygen:300,400,700");
/* line 5, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/main.scss */
body h1, h2, h3, h4, h5, h5, p, span {
  font-family: 'Oxygen', sans-serif;
}

/* line 8, ../sass/main.scss */
section .title {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
/* line 10, ../sass/header/main.scss */
header {
  /*nav*/
}
/* line 11, ../sass/header/main.scss */
header .head {
  /*profile*/
}
/* line 13, ../sass/header/main.scss */
header .head .profile {
  height: 100px;
  background-color: black;
  display: flex;
  align-content: center;
}
/* line 20, ../sass/header/main.scss */
header .head .profile .container {
  display: flex;
  justify-content: space-between;
  color: #85939f;
  font-size: 10px;
}
/* line 27, ../sass/header/main.scss */
header .head .search {
  display: flex;
  align-items: center;
}
/* line 30, ../sass/header/main.scss */
header .head .search input {
  height: 25px;
  width: 200px;
  border: 1px solid #85939f;
  flex-direction: column;
  background: url(../img/header/search/search-bg.png) no-repeat;
  background-position: right;
}
/* line 38, ../sass/header/main.scss */
header .head .search ::-webkit-input-placeholder {
  color: #85939f;
  font-family: 'Oxygen', sans-serif;
  font-size: 10px;
  padding: 10px;
}
/* line 45, ../sass/header/main.scss */
header .head .user-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 51, ../sass/header/main.scss */
header .head .user-block .login, header .head .user-block .register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: 30px;
}
/* line 57, ../sass/header/main.scss */
header .head .user-block .login a, header .head .user-block .register a {
  align-self: center;
  color: #85939f;
}
/* line 65, ../sass/header/main.scss */
header .nav {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #595959;
}
/* line 70, ../sass/header/main.scss */
header .nav .block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 74, ../sass/header/main.scss */
header .nav .block .logo {
  height: 75px;
  display: flex;
  align-items: center;
}
/* line 80, ../sass/header/main.scss */
header .nav .block .nav-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* line 84, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item {
  width: 100px;
  height: 75px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* line 93, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item svg {
  height: 12px;
  width: 100px;
  display: flex;
  justify-content: flex-start;
}
/* line 100, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item a {
  text-align: left;
  text-decoration: none;
  color: white;
  margin-top: 15px;
}
/* line 106, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item a:visited {
  color: white;
}
/* line 109, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item a:active {
  color: white;
}
/* line 112, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item a:hover {
  color: #9E9D9D;
}
/* line 117, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item:hover:nth-child(1) {
  background-color: #ffae00;
  transition: 1s;
}
/* line 121, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item:hover:nth-child(2) {
  background-color: #fc7100;
  transition: 1s;
}
/* line 125, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item:hover:nth-child(3) {
  background-color: #e51c5e;
  transition: 1s;
}
/* line 129, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item:hover:nth-child(4) {
  background-color: #ae0f8d;
  transition: 1s;
}
/* line 133, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item:hover:nth-child(5) {
  background-color: #6d0fae;
  transition: 1s;
}
/* line 137, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item:hover:nth-child(6) {
  background-color: #33227a;
  transition: 1s;
}
/* line 141, ../sass/header/main.scss */
header .nav .block .nav-items .nav-item:hover:nth-child(7) {
  background-color: #0c8fcc;
  transition: 1s;
}

/* media styles */
@media screen and (max-width: 990px) {
  /* line 152, ../sass/header/main.scss */
  header .nav {
    display: none;
  }
  /* line 156, ../sass/header/main.scss */
  header .nav .block .nav-items .nav-item {
    width: 75px;
  }
  /* line 158, ../sass/header/main.scss */
  header .nav .block .nav-items .nav-item svg {
    width: 75px;
  }
}
@media screen and (max-width: 650px) {
  /* line 171, ../sass/header/main.scss */
  header .head .search {
    width: 50vw;
  }
  /* line 174, ../sass/header/main.scss */
  header .head .block {
    width: 100vw;
  }
  /* line 177, ../sass/header/main.scss */
  header .head .block .user-block .login, header .head .block .user-block .register {
    margin: 0;
  }
  /* line 183, ../sass/header/main.scss */
  header .nav {
    display: none;
  }
}
/* welcome */
/* line 5, ../sass/welcome.scss */
#welcome {
  background-color: #b2b2b2;
}
/* line 7, ../sass/welcome.scss */
#welcome .block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: calc(100vh - 120px);
  width: 100vw;
}
/* line 16, ../sass/welcome.scss */
#welcome .block .title h1, #welcome .block .title h2 {
  font-size: 60px;
}
/* line 19, ../sass/welcome.scss */
#welcome .block .title h1 {
  color: #01B9AB;
}
/* line 22, ../sass/welcome.scss */
#welcome .block .title h2 {
  color: white;
}
/* line 26, ../sass/welcome.scss */
#welcome .block .buttons {
  margin-top: 10vh;
}
/* line 29, ../sass/welcome.scss */
#welcome .block .slider {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 650px) {
  /* line 48, ../sass/welcome.scss */
  #welcome .block {
    height: 700px;
  }
}
/* PURCHASE */
/* line 3, ../sass/purchase.scss */
#purchase .block {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3B4953;
}
/* line 11, ../sass/purchase.scss */
#purchase .block h3 {
  font-size: 36px;
}
/* line 14, ../sass/purchase.scss */
#purchase .block p {
  font-size: 18px;
  line-height: 1.67;
  margin: 0;
}

@media screen and (max-width: 650px) {
  /* line 25, ../sass/purchase.scss */
  #purchase .block {
    height: 500px;
  }
}
/* WORKS */
/* line 2, ../sass/works.scss */
#works {
  background-color: #043951;
  color: white;
}
/* line 5, ../sass/works.scss */
#works .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*slider*/
}
/* line 12, ../sass/works.scss */
#works .block h3 {
  font-size: 36px;
  font-weight: 300;
}
/* line 17, ../sass/works.scss */
#works .block p {
  font-size: 18px;
  margin: 0;
}
/* line 22, ../sass/works.scss */
#works .block .content .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
/* line 27, ../sass/works.scss */
#works .block .content .items .item {
  width: 290px;
}
/* line 29, ../sass/works.scss */
#works .block .content .items .item .title {
  text-align: left;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px 0 15px;
}
/* line 38, ../sass/works.scss */
#works .block .content .items .item .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px 0 5px;
}
/* line 45, ../sass/works.scss */
#works .block .content .items .item h5 {
  font-size: 14px;
  margin: 0;
}
/* line 49, ../sass/works.scss */
#works .block .content .items .item span {
  font-size: 11px;
  color: #01B9AB;
}
/* line 54, ../sass/works.scss */
#works .block .content .items .item-hover {
  display: none;
}
/* line 58, ../sass/works.scss */
#works .block .content .items .item:hover .img {
  display: none;
}
/* line 61, ../sass/works.scss */
#works .block .content .items .item:hover figcaption {
  display: none;
}
/* line 64, ../sass/works.scss */
#works .block .content .items .item:hover .item-hover {
  display: flex;
}
/* line 66, ../sass/works.scss */
#works .block .content .items .item:hover .item-hover .social-nav {
  height: 290px;
  width: 290px;
  background-color: #0c3f57;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 78, ../sass/works.scss */
#works .block .content .items .img {
  height: 220px;
  width: 290px;
  background-color: #187faf;
}
/* line 83, ../sass/works.scss */
#works .block .content .items figcaption {
  background-color: #072634;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 94, ../sass/works.scss */
#works .block .slider-items {
  margin-top: 25px;
  margin-bottom: 95px;
}

@media screen and (max-width: 650px) {
  /* line 107, ../sass/works.scss */
  #works .block .content .items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 111, ../sass/works.scss */
  #works .block .content .items .item {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }
  /* line 112, ../sass/works.scss */
  #works .block .content .items .item .social-nav {
    width: 100vw;
    background-color: #0c3f57;
  }
  /* line 126, ../sass/works.scss */
  #works .block .content .items .item .img {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 133, ../sass/works.scss */
  #works .block .content .items .item figcaption {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
/* purchase-now */
/* line 2, ../sass/purchase-now.scss */
#purchase-now {
  background-color: #02baab;
}
/* line 4, ../sass/purchase-now.scss */
#purchase-now .block {
  display: flex;
  align-items: center;
  color: white;
}
/* line 9, ../sass/purchase-now.scss */
#purchase-now .block span {
  margin: 50px 0 50px 0;
  font-size: 24px;
}

/* features */
/* line 2, ../sass/features.scss */
#features {
  color: #3B4953;
}
/* line 4, ../sass/features.scss */
#features h3 {
  font-size: 36px;
  text-align: center;
}
/* line 9, ../sass/features.scss */
#features h4 {
  font-size: 24px;
}
/* line 12, ../sass/features.scss */
#features p {
  font-size: 14px;
  text-align: left;
  line-height: 1.71;
  margin: 0;
}
/* line 19, ../sass/features.scss */
#features .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 23, ../sass/features.scss */
#features .items .item {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 450px;
  margin-bottom: 25px;
}
/* line 29, ../sass/features.scss */
#features .items .item img {
  margin: 5px 30px 5px 5px;
}

/* coments */
/* line 2, ../sass/coments.scss */
#coments {
  background-color: #005c55;
}
/* line 4, ../sass/coments.scss */
#coments .block {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 11, ../sass/coments.scss */
#coments .block p {
  font-size: 24px;
  color: white;
}
/* line 18, ../sass/coments.scss */
#coments .block span {
  color: #01B9AB;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 25, ../sass/coments.scss */
#coments .slider-items {
  margin-top: 30px;
}

@media screen and (max-width: 650px) {
  /* line 32, ../sass/coments.scss */
  #coments .block {
    height: 500px;
  }
}
/* posts */
/* line 3, ../sass/posts.scss */
#posts h3 {
  color: #3B4953;
  font-size: 36px;
}
/* line 7, ../sass/posts.scss */
#posts .title {
  text-align: center;
}
/* line 10, ../sass/posts.scss */
#posts .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 14, ../sass/posts.scss */
#posts .items .item {
  width: 290px;
  display: flex;
  flex-direction: column;
}
/* line 18, ../sass/posts.scss */
#posts .items .item h4 {
  font-size: 24px;
  color: #01B9AB;
}
/* line 22, ../sass/posts.scss */
#posts .items .item p {
  color: #555555;
  font-size: 14px;
  line-height: 1.71;
}
/* line 27, ../sass/posts.scss */
#posts .items .item .footer {
  display: flex;
  justify-content: space-between;
}
/* line 30, ../sass/posts.scss */
#posts .items .item .footer .like-block {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 450px) {
  /* line 41, ../sass/posts.scss */
  #posts .items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 45, ../sass/posts.scss */
  #posts .items .item {
    display: flex;
    width: 100vw;
    align-self: center;
  }
  /* line 46, ../sass/posts.scss */
  #posts .items .item img {
    width: 100vw;
  }
}
/* expirians */
/* line 2, ../sass/expirians.scss */
#expirians {
  background-color: #01b9ab;
  color: white;
}
/* line 6, ../sass/expirians.scss */
#expirians .title h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}
/* line 12, ../sass/expirians.scss */
#expirians .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 18, ../sass/expirians.scss */
#expirians .block .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
}
/* line 23, ../sass/expirians.scss */
#expirians .block .items .item {
  text-align: center;
}
/* line 24, ../sass/expirians.scss */
#expirians .block .items .item .img {
  width: 210px;
  height: 210px;
  border: 5px solid white;
  border-radius: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
/* line 34, ../sass/expirians.scss */
#expirians .block .items .item .img .black-order {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 45, ../sass/expirians.scss */
#expirians .block .items .item span {
  font-size: 48px;
}
/* line 48, ../sass/expirians.scss */
#expirians .block .items .item p {
  font-size: 18px;
}
/* line 52, ../sass/expirians.scss */
#expirians .block .items .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 70px;
  height: 10px;
  background: url(../img/works/dots.fw.png) no-repeat;
}
/* line 63, ../sass/expirians.scss */
#expirians .block .items .hover-border:hover {
  outline: 3px solid #6d0fae;
}

@media screen and (max-width: 650px) {
  /* line 75, ../sass/expirians.scss */
  #expirians .block .img img {
    width: 100vw;
  }
  /* line 79, ../sass/expirians.scss */
  #expirians .block .items {
    display: flex;
    justify-content: center;
  }
  /* line 83, ../sass/expirians.scss */
  #expirians .block .items .item span {
    font-size: 24px;
  }
  /* line 87, ../sass/expirians.scss */
  #expirians .block .items .dots {
    margin: 5px;
  }
}
/* TEAM */
/* line 3, ../sass/team.scss */
#team h3 {
  text-align: center;
}
/* line 6, ../sass/team.scss */
#team .block {
  display: flex;
  flex-direction: column;
}
/* line 9, ../sass/team.scss */
#team .block .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 130px;
}
/* line 14, ../sass/team.scss */
#team .block .items .item {
  height: 380px;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
/* line 21, ../sass/team.scss */
#team .block .items .item .header-block {
  /*border: 0.5px solid #C4C4C4;*/
  text-align: center;
}
/* line 24, ../sass/team.scss */
#team .block .items .item .header-block h6 {
  color: #01B9AB;
  font-size: 14px;
}
/* line 28, ../sass/team.scss */
#team .block .items .item .header-block span {
  font-size: 12px;
  color: #C4C4C4;
}
/* line 35, ../sass/team.scss */
#team .block .items .item .description p {
  font-size: 12px;
  color: #3B4953;
}

@media screen and (max-width: 450px) {
  /* line 49, ../sass/team.scss */
  #team .block .items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 53, ../sass/team.scss */
  #team .block .items .item {
    display: flex;
    width: 100vw;
    align-self: center;
    text-align: center;
  }
}
/* footer */
/* line 2, ../sass/footer/main.scss */
footer {
  background-color: #1f2a32;
  color: white;
}
/* line 5, ../sass/footer/main.scss */
footer .footer-block {
  display: flex;
  flex-direction: column;
}
/* line 10, ../sass/footer/main.scss */
footer .footer-block .row .col .title {
  font-size: 20px;
  margin: 50px 0 50px 0;
}
/* line 15, ../sass/footer/main.scss */
footer .footer-block .row .col .contacts div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 15px 0;
  font-size: 12px;
}
/* line 23, ../sass/footer/main.scss */
footer .footer-block .row .col .contacts div p {
  margin: 0;
  color: #b2b2b2;
  margin: 5px;
}
/* line 27, ../sass/footer/main.scss */
footer .footer-block .row .col .contacts div p span {
  color: white;
}
/* line 33, ../sass/footer/main.scss */
footer .footer-block .row .col .twitters {
  font-size: 12px;
}
/* line 35, ../sass/footer/main.scss */
footer .footer-block .row .col .twitters .twit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 41, ../sass/footer/main.scss */
footer .footer-block .row .col .twitters i {
  margin: 5px;
}
/* line 44, ../sass/footer/main.scss */
footer .footer-block .row .col .twitters p {
  margin: 5px;
}
/* line 46, ../sass/footer/main.scss */
footer .footer-block .row .col .twitters p span {
  color: #02baab;
}
/* line 53, ../sass/footer/main.scss */
footer .footer-block .row .col .social div img {
  margin: 5px;
  height: 50px;
  width: 50px;
}
/* line 58, ../sass/footer/main.scss */
footer .footer-block .row .col .social div span {
  font-size: 12px;
  margin-left: 10px;
}
/* line 65, ../sass/footer/main.scss */
footer .footer-block .row .col .posts .post {
  font-size: 12px;
}
/* line 67, ../sass/footer/main.scss */
footer .footer-block .row .col .posts .post .title {
  margin: 0;
  font-size: 12px;
}
/* line 72, ../sass/footer/main.scss */
footer .footer-block .row .col .posts .post .description p {
  color: #02baab;
}
/* line 80, ../sass/footer/main.scss */
footer .footer-block .footer-down {
  margin-top: 70px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
/* line 85, ../sass/footer/main.scss */
footer .footer-block .footer-down .coperations {
  display: flex;
  flex-direction: column;
}

/*buttons*/
/* buttons */
/* line 4, ../sass/buttons/main.scss */
#welcome button {
  width: 135px;
  height: 40px;
  text-align: center;
  border: none;
  background-color: #01b9ab;
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
/* line 17, ../sass/buttons/main.scss */
#welcome button:hover {
  background-color: #ffad00;
  border: 2px solid #01b9ab;
}

/* line 25, ../sass/buttons/main.scss */
#purchase button, #team button, footer button {
  margin-top: 20px;
  width: 135px;
  height: 40px;
  text-align: center;
  border: 2px solid #01b9ab;
  background-color: white;
  font-size: 12px;
}
/* line 36, ../sass/buttons/main.scss */
#purchase button:hover, #team button:hover, footer button:hover {
  background-color: #ffad00;
}

/* line 41, ../sass/buttons/main.scss */
#purchase-now button {
  width: 170px;
  height: 40px;
  text-align: center;
  border: 2px solid white;
  background-color: #01b9ab;
  margin-left: 50px;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 55, ../sass/buttons/main.scss */
#purchase-now button:hover {
  background-color: #ffad00;
}

/* line 62, ../sass/buttons/main.scss */
footer button {
  display: flex;
  align-items: center;
  background-color: #1f2a32;
  color: white;
}
