/* TEAM */
/* line 3, ../sass/team.scss */
#team h3 {
  text-align: center;
}
/* line 6, ../sass/team.scss */
#team .block {
  display: flex;
  flex-direction: column;
}
/* line 9, ../sass/team.scss */
#team .block .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 130px;
}
/* line 14, ../sass/team.scss */
#team .block .items .item {
  height: 380px;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
/* line 21, ../sass/team.scss */
#team .block .items .item .header-block {
  /*border: 0.5px solid #C4C4C4;*/
  text-align: center;
}
/* line 24, ../sass/team.scss */
#team .block .items .item .header-block h6 {
  color: #01B9AB;
  font-size: 14px;
}
/* line 28, ../sass/team.scss */
#team .block .items .item .header-block span {
  font-size: 12px;
  color: #C4C4C4;
}
/* line 35, ../sass/team.scss */
#team .block .items .item .description p {
  font-size: 12px;
  color: #3B4953;
}
/* line 43, ../sass/team.scss */
#team .block .items .item:hover .header-block {
  display: none;
}
/* line 46, ../sass/team.scss */
#team .block .items .item:hover .description {
  display: none;
}

@media screen and (max-width: 450px) {
  /* line 58, ../sass/team.scss */
  #team .block .items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 62, ../sass/team.scss */
  #team .block .items .item {
    display: flex;
    width: 100vw;
    align-self: center;
    text-align: center;
  }
}
