/* welcome */
/* line 5, ../sass/welcome.scss */
#welcome {
  background-color: #b2b2b2;
}
/* line 7, ../sass/welcome.scss */
#welcome .block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: calc(100vh - 120px);
  width: 100vw;
}
/* line 16, ../sass/welcome.scss */
#welcome .block .title h1, #welcome .block .title h2 {
  font-size: 60px;
}
/* line 19, ../sass/welcome.scss */
#welcome .block .title h1 {
  color: #01B9AB;
}
/* line 22, ../sass/welcome.scss */
#welcome .block .title h2 {
  color: white;
}
/* line 26, ../sass/welcome.scss */
#welcome .block .buttons {
  margin-top: 10vh;
}
/* line 29, ../sass/welcome.scss */
#welcome .block .slider {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 650px) {
  /* line 48, ../sass/welcome.scss */
  #welcome .block {
    height: 700px;
  }
}
