<!-- pricing -->
<section id="pricing">
    <div class="pricing-block container">
        <header>
            <h2>pricing plans</h2>
        </header>
        <div class="items row">
            <div class="item col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="title">
                    <div class="price-info">
                        <span class="price">100$</span>
                        <span class="name">Basic Plan</span>
                    </div>
                </div>
                <div class="description">
                    <ul>
                        <li>Duis commodo mollis</li>
                        <li>Nam aliquet sagittis.</li>
                        <li>Fusce eleifend lectus.</li>      
                    </ul> 
                    <button>Choose plan</button>   
                </div>
            </div>
            <div class="item col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="title">
                    <div class="price-info">
                        <span class="price">150$</span><span class="name">Silver Plan</span>
                    </div>       
                </div>
                <div class="description">
                    <ul>
                        <li>Duis commodo mollis</li>
                        <li>Nam aliquet sagittis.</li>
                        <li>Fusce eleifend lectus.</li>
                        <li>Etiam pulvinar elementum.</li>
                    </ul>
                    <button>Choose plan</button>
                </div>
            </div>
            <div class="item col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="title">
                    <div class="price-info">
                        <span class="price">200$</span><span class="name">gold Plan</span>
                    </div>      
                </div>
                <div class="description">
                    <ul>
                        <li>Duis commodo mollis</li>
                        <li>Nam aliquet sagittis.</li>
                        <li>Fusce eleifend lectus.</li>
                        <li>Etiam pulvinar elementum.</li>
                    </ul>
                    <button>Choose plan</button>
                </div>
            </div>
        </div>
    </div>
</section>