<!-- questions -->
<section id="questions">
        <div class="questions-block container">
            <header>
                <h2>frequently asked questions</h2>
            </header>
            <div class="items">
                <div class="item">
                    <article>
                        <header>
                            <h6>Lorem Ipsum is simply dummy text of the printing ?</h6>
                            <i class="icon-plus"></i>
                        </header>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </article>
                </div>
                <div class="item">
                    <article>
                        <header>
                            <h6>Lorem Ipsum is simply dummy text of the printing ?</h6>
                        </header>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </article>
                </div>
                <div class="item">
                    <article>
                        <header>
                            <h6>Lorem Ipsum is simply dummy text of the printing ?</h6>
                        </header>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </article>
                </div>
                <div class="item">
                    <article>
                        <header>
                            <h6>Lorem Ipsum is simply dummy text of the printing ?</h6>
                        </header>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </article>
                </div>
                <div class="item">
                    <article>
                        <header>
                            <h6>Lorem Ipsum is simply dummy text of the printing ?</h6>
                        </header>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </article>
                </div>
                <div class="item">
                    <article>
                        <header>
                            <h6>Lorem Ipsum is simply dummy text of the printing ?</h6>
                        </header>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </article>
                </div>
                <div class="item">
                    <article>
                        <header>
                            <h6>Lorem Ipsum is simply dummy text of the printing ?</h6>
                        </header>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </article>
                </div>
            </div>
        </div>
</section>