/* statistics */
.home {
    #mainContent {
        .content {
            .statisticsComponents {
                .active {
                    display: flex;
                    flex-direction: column;
                    margin: 50px;
                    .header {
                        height: 120px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h3 {
                            color: #0D1935;
                            font-size: 36px;

                        }
                        .selectBlock {
                            display: flex;
                            div {
                                margin-left: 10px;
                                span {
                                    color: #8391AF;
                                    font-size: 14px;
                                    font-weight: 600;
                                    position: absolute;
                                    margin: 15px;
                                    padding-left: 15px;
                                }
                            }
                            select {
                                padding: 15px 35px 15px 75px;
                                border: 1px solid #8391AF;
                                outline: 0;
                                border-radius: 25px 25px 25px 25px;
                                color: #0D1935;
                                font-size: 14px;
                                font-weight: 600;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            select:hover {
                                transition: 1s;
                                background-color: #FF3975;
                            }
                            select:focus > option:checked { 
                                font-weight: 600;
                                background-color: #FF3975;  
                            }
                        }
                    }
                    .result {
                        display: flex;
                        flex-direction: row;
                        padding: 0;
                        .resultBlock {
                            background-color: white;
                            border: 1px solid #D4D8E3;
                            padding: 0;
                            margin-right: 40px;
                            .sale, .views {
                                color: #8391AF;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                .title {
                                    font-size: 36px;
                                    font-weight: 600;
                                    margin: 0;
                                    padding-left: 20%;
                                }
                                p {
                                    font-size: 20px;
                                    font-weight: 400;
                                    padding-left: 20%;
                                }
                            }
                            .sale {
                                height: 50%;
                                border-bottom: solid 1px #D4D8E3;

                            }
                            .views {
                                height: 50%;

                            }

                        }
                        .activeChart {
                            
                            background-color: white;
                            border: 1px solid #D4D8E3;
                            padding: 0;

                        }
                    }
                }
                .totalSales {
                    margin: 50px;
                    background-color: white;
                    border: 1px solid #D4D8E3;
                    .header {
                        height: 120px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h3 {
                            margin: 30px;
                            color: #8391AF;
                            font-size: 36px;
                            font-weight: 700;
                        }
                        .buttonBlock {
                            margin: 30px;
                        }
                    }
                    .items {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 60px;
                        .item {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .demo-1 {
                                div {
                                    color: #5484FF;
                                }
                            }
                            .demo-2 {
                                div {
                                    color: #AA5FB9;
                                }
                            }
                            .demo-3 {
                                div {
                                    color: #F83C7B;
                                }
                            }
                            .demo-1,.demo-2,.demo-3 {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                div {                            
                                    .ab {
                                        .cir {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            margin-right: 0;
                                        }
                                    }
                                }                      
                            }
                            .resultBlock {
                                margin-left: 40px;
                                color: #8391AF;
                                p {
                                    margin: 0;
                                    font-size: 36px;
                                    font-weight: 700;
                                }
                                span {
                                    font-size: 20px;
                                    font-weight: 400;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
