/* statistics */
.home #mainContent .content .statisticsComponents .active {
  display: flex;
  flex-direction: column;
  margin: 50px; }
  .home #mainContent .content .statisticsComponents .active .header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .home #mainContent .content .statisticsComponents .active .header h3 {
      color: #0D1935;
      font-size: 36px; }
    .home #mainContent .content .statisticsComponents .active .header .selectBlock {
      display: flex; }
      .home #mainContent .content .statisticsComponents .active .header .selectBlock div {
        margin-left: 10px; }
        .home #mainContent .content .statisticsComponents .active .header .selectBlock div span {
          color: #8391AF;
          font-size: 14px;
          font-weight: 600;
          position: absolute;
          margin: 15px;
          padding-left: 15px; }
      .home #mainContent .content .statisticsComponents .active .header .selectBlock select {
        padding: 15px 35px 15px 75px;
        border: 1px solid #8391AF;
        outline: 0;
        border-radius: 25px 25px 25px 25px;
        color: #0D1935;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center; }
      .home #mainContent .content .statisticsComponents .active .header .selectBlock select:hover {
        transition: 1s;
        background-color: #FF3975; }
      .home #mainContent .content .statisticsComponents .active .header .selectBlock select:focus > option:checked {
        font-weight: 600;
        background-color: #FF3975; }
  .home #mainContent .content .statisticsComponents .active .result {
    display: flex;
    flex-direction: row;
    padding: 0; }
    .home #mainContent .content .statisticsComponents .active .result .resultBlock {
      background-color: white;
      border: 1px solid #D4D8E3;
      padding: 0;
      margin-right: 40px; }
      .home #mainContent .content .statisticsComponents .active .result .resultBlock .sale, .home #mainContent .content .statisticsComponents .active .result .resultBlock .views {
        color: #8391AF;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .home #mainContent .content .statisticsComponents .active .result .resultBlock .sale .title, .home #mainContent .content .statisticsComponents .active .result .resultBlock .views .title {
          font-size: 36px;
          font-weight: 600;
          margin: 0;
          padding-left: 20%; }
        .home #mainContent .content .statisticsComponents .active .result .resultBlock .sale p, .home #mainContent .content .statisticsComponents .active .result .resultBlock .views p {
          font-size: 20px;
          font-weight: 400;
          padding-left: 20%; }
      .home #mainContent .content .statisticsComponents .active .result .resultBlock .sale {
        height: 50%;
        border-bottom: solid 1px #D4D8E3; }
      .home #mainContent .content .statisticsComponents .active .result .resultBlock .views {
        height: 50%; }
    .home #mainContent .content .statisticsComponents .active .result .activeChart {
      background-color: white;
      border: 1px solid #D4D8E3;
      padding: 0; }

.home #mainContent .content .statisticsComponents .totalSales {
  margin: 50px;
  background-color: white;
  border: 1px solid #D4D8E3; }
  .home #mainContent .content .statisticsComponents .totalSales .header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .home #mainContent .content .statisticsComponents .totalSales .header h3 {
      margin: 30px;
      color: #8391AF;
      font-size: 36px;
      font-weight: 700; }
    .home #mainContent .content .statisticsComponents .totalSales .header .buttonBlock {
      margin: 30px; }
  .home #mainContent .content .statisticsComponents .totalSales .items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px; }
    .home #mainContent .content .statisticsComponents .totalSales .items .item {
      display: flex;
      justify-content: center;
      align-items: center; }
      .home #mainContent .content .statisticsComponents .totalSales .items .item .demo-1 div {
        color: #5484FF; }
      .home #mainContent .content .statisticsComponents .totalSales .items .item .demo-2 div {
        color: #AA5FB9; }
      .home #mainContent .content .statisticsComponents .totalSales .items .item .demo-3 div {
        color: #F83C7B; }
      .home #mainContent .content .statisticsComponents .totalSales .items .item .demo-1, .home #mainContent .content .statisticsComponents .totalSales .items .item .demo-2, .home #mainContent .content .statisticsComponents .totalSales .items .item .demo-3 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .home #mainContent .content .statisticsComponents .totalSales .items .item .demo-1 div .ab .cir, .home #mainContent .content .statisticsComponents .totalSales .items .item .demo-2 div .ab .cir, .home #mainContent .content .statisticsComponents .totalSales .items .item .demo-3 div .ab .cir {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0; }
      .home #mainContent .content .statisticsComponents .totalSales .items .item .resultBlock {
        margin-left: 40px;
        color: #8391AF; }
        .home #mainContent .content .statisticsComponents .totalSales .items .item .resultBlock p {
          margin: 0;
          font-size: 36px;
          font-weight: 700; }
        .home #mainContent .content .statisticsComponents .totalSales .items .item .resultBlock span {
          font-size: 20px;
          font-weight: 400; }

@media screen and (max-width: 1200px) {
  .home #mainContent .content .statisticsComponents {
    width: 100%; }
    .home #mainContent .content .statisticsComponents .active .header {
      height: 100%;
      flex-wrap: wrap; }
      .home #mainContent .content .statisticsComponents .active .header .selectBlock {
        flex-wrap: wrap;
        justify-content: center; }
        .home #mainContent .content .statisticsComponents .active .header .selectBlock div {
          margin: 20px 0; }
    .home #mainContent .content .statisticsComponents .active .result {
      display: flex;
      flex-wrap: wrap;
      padding: 0; }
      .home #mainContent .content .statisticsComponents .active .result .resultBlock {
        height: 300px;
        margin-right: 0;
        margin-bottom: 40px; }
        .home #mainContent .content .statisticsComponents .active .result .resultBlock .sale, .home #mainContent .content .statisticsComponents .active .result .resultBlock .views {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center; }
          .home #mainContent .content .statisticsComponents .active .result .resultBlock .sale .title, .home #mainContent .content .statisticsComponents .active .result .resultBlock .views .title {
            padding: 0; }
    .home #mainContent .content .statisticsComponents .totalSales .items {
      flex-wrap: wrap; }
      .home #mainContent .content .statisticsComponents .totalSales .items .item {
        flex-wrap: wrap;
        margin: 20px 0; }
        .home #mainContent .content .statisticsComponents .totalSales .items .item .resultBlock {
          margin-left: 0; } }

@media screen and (max-width: 870px) {
  .home #mainContent .content .statisticsComponents .active .header {
    justify-content: center;
    align-items: center; }
    .home #mainContent .content .statisticsComponents .active .header h3 {
      text-align: center; }
  .home #mainContent .content .statisticsComponents .totalSales .items {
    flex-wrap: wrap; }
    .home #mainContent .content .statisticsComponents .totalSales .items .item {
      flex-direction: column; } }
