/* home */
$main-bg: #F6F7FA;
.home {
    display: flex;
    .title {
        h2 {
            color: #0D1935;
            font-size: 48px;
        }
    }
    #mainContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        .content {
            display: flex;
            flex-direction: column;
            background-color: $main-bg;
            .title {
                margin: 45px;
            }
            .homeComponents {
                
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .homeComponentsFooter {
                    width: 100%;                
                }
            }
        }
    }

    .messages, .activity, .tasks {
        width: 30%;
        background-color: white;
        margin: 20px 0 20px 40px;
        display: flex;
        flex-direction: column;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .items {
            display: flex;
            flex-direction: column;
            .item {
                display: flex;
                flex-direction: row;

            }
        }
    }
}

@media screen and (max-width:1200px) {
    .home {
        .sales, .report, .messages, .activity, .tasks {
            width: 100%;
            margin: 0;
            padding: 0;

        }
    }
}