/* message */
.messages {
    padding: 0;
    outline: 1px solid #D4D8E3;
    .header {
        
        margin: 20px;
        h3 {
            color: #0D1935;
            font-size: 24px;
            font-weight: 600;

        }
        .messageCout {
            display: flex;
            flex-direction: row;
            .noReadMessage {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: #5383FF;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                color: white;
                margin: 5px;
            }
        }
    }
    .items {
        .item {
            
            border-bottom: 1px solid #D4D8E3;
            .preview {
                margin: 25px;
                height: 45px;
                width: 45px;
                border-radius: 50%;
                background-color: #5383FF;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                color: white;
            }
            .description {
                width: 65%;
                margin: 17px 0;
                
                font-size: 14px;
                .avtorName {
                    font-weight: 700;
                    .messageData {
                        color: #8391AF;
                    }
                }
                p {
                    color: #0D1935;
                    font-size: 14px;
                }   
                .messageControl {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    i {
                        cursor: pointer;
                    }
                    i:hover {
                        color: #66001d;
                    }
                    .dropDown {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        margin-left: -20px;
                        i, .text {
                            display: none;
                        }
                        .menu {
                            flex-direction: column;
                            position: absolute;
                            left: -35px;

                            button {
                                font-size: 12px;
                                color: #0D1935;
                                width: 70px;
                                height: 30px;
                                border: none;
                                outline: none;
                                margin: 2px;
                            }

                        }
                        .visible {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
        .read {
            background-color: #F4F5F8;
        }
        .item:first-child {
            border-top: 1px solid #D4D8E3;
        }
        .item:last-child {
            border-bottom: none;
        }
    }
}