/* sales */
.sales, .report {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 20px 40px;
    background-color: white;
    outline: 1px solid #D4D8E3;
    .header {
        height: 120px;
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h3 {
            font-size: 36px;
            font-weight: 600;
            color: #8391AF;
        }
        div {
            span {
                color: #8391AF;
                font-size: 14px;
                font-weight: 600;
                position: absolute;
                margin: 15px;
                padding-left: 15px;
            }
        }
        select {
            
            padding: 15px 35px 15px 75px;
            border: 1px solid #8391AF;
            outline: 0;
            border-radius: 25px 25px 25px 25px;
            color: #0D1935;
            font-size: 14px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        select:hover {
            transition: 1s;
            background-color: #FF3975;
        }
        select:focus > option:checked { 
            appearance: none;
            font-weight: 600;
            background-color: #FF3975;  
        }
    }

}
