/* tasks */
.tasks {
    padding: 0;
    outline: 1px solid #D4D8E3;
    .header {
        margin: 20px;
        h3 {
            color: #0D1935;
            font-size: 24px;
            font-weight: 600;
        }
        .taskCounts {
            display: flex;
            flex-direction: row;
            .taskFree, .taskDelete {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: #5383FF;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                color: white;
                margin: 5px;
            }
            .taskDelete {
                background-color: #F73B7B;
            }
        }
    }
    .items {
        .item {          
            border-bottom: 1px solid #D4D8E3;
            .preview {
                margin: 25px;
                height: 45px;
                width: 45px;
                border-radius: 50%;
                background-color: #5383FF;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                color: white;
            }
            .description {
                margin: 25px 0;
                width: 60%;
                font-size: 14px;
                p {
                    color: #0D1935;
                    font-size: 20px;
                }   
                .free {
                    color: #8391AF;
                }
                .delete {          
                    color: #F73B7B;
                }
            }
            .itemControl {
                margin: 25px;
                width: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                .dropDown {
                    height: 33px;
                    width: 7px;
                    background: url(../img/workflow/item-icon.fw.png) no-repeat center;
                    background-size: cover;
                    i, .text {
                        display: none;
                    }
                    .menu {
                        flex-direction: column;
                        button {
                            color: #0D1935;
                            width: 60px;
                            border: none;
                            outline: none;
                            margin: 2px;
                        }

                    }
                    .visible {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
        .item:first-child {
            border-top: 1px solid #D4D8E3;
        }
        .item:last-child {
            border-bottom: none;
        }
    }
}