/* purchase-now */
#purchase-now {
    background-color: #02baab;
    .block {
        display: flex;
        align-items:  center;
        
        color: white;
        span {
            margin: 50px 0 50px 0;
            font-size: 24px;
        }
    }
}